/****建议样式开始***/
body{
	overflow-x: hidden;
	font-size: 15px;
	line-height: 22px;
}
.td_righttop_btngroup{
	border-left:1px solid #E5E6E8;
	zoom:1;
	overflow: hidden;
}
.td_righttop_btngroup>div{
	float:left;
	background:#fff;
	font:14px/35px 'microsoft yahei';
	min-width:90px;
	max-width:200px;
	padding:0 5px;
	text-align:center;
	border-right:1px solid #E5E6E8;
	border-top:1px solid #E5E6E8;
	cursor:pointer;
	white-space: nowrap;
    -o-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}
.td_righttop_btngroup_press>div{
	color:#2ABDFF;
}
.td_righttop_btngroup div:hover{
	color:#2ABDFF;
}
.td_righttop_btngroup_press div:hover{
	color:#2ABDFF;
}
.td_righttop_btngroup span{
	font-weight:bold;
}
.td_righttop_content{
	background:#fff;
	border:1px solid #E5E6E8;
	padding:30px 0;
}
.div_title{
	text-align: center;
    margin: 10px auto;
    color: #000;
    font: 25px/30px 'Microsoft yahei';
}
.advise_list_common{
	margin: 35px auto
}
.advise_item_common{
	margin:0 auto;
	font: 15px/36px 'Microsoft yahei';
    border-bottom: 1px solid #e5e5e5;
    overflow: hidden;
    zoom: 1;
    cursor:pointer;
}
.advise_item_common:hover{
	background:#D8EDFF;
}
.advise_item_common>div{
	float: left;
}
.point_notread{
	background: #f00;
}
.advise_item_common>div:nth-of-type(1){
	width: 10px;
    height: 10px;
    border-radius: 5px;
    margin-left: 120px;
    position: relative;
    top: 13px;
}
.advise_item_common>div:nth-of-type(2){
    width: 350px;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left:10px;
}
.advise_item_common>div:nth-of-type(3){
	width: 85px;
	margin:0 30px;
}
.advise_item_common>div:nth-of-type(4){
	width: 120px;
	white-space: nowrap;
    -o-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}
.no_advise_div{
	text-align: center;
    margin: 50px auto;
    font: 15px/30px 'Microsoft yahei';
}
.advise_item{
	font: 15px/50px 'Microsoft yahei';
	border-bottom:1px solid #e5e5e5;
	overflow: hidden;
    zoom: 1;
}
.advise_item:hover {
    background: #D8EDFF;
}
.advise_item>div:nth-of-type(1){
	float:left;
	width: 10px;
    height: 10px;
    border-radius: 5px;
    margin: 0 0 0 120px;
    position: relative;
    top: 20px;
}
.advise_title{
	float:left;
	width:400px;
	 white-space: nowrap;
    -o-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    margin:0 30px 0 10px;
    cursor:pointer;
}
.advise_date{
	float:left;
	width:85px;
	cursor:pointer;
}
.advise_item a{
	float:right;
	margin:0px 12px;
	cursor:pointer;
	color:#2ABDFF;
	text-decoration:none;
	text-align:center;
	outline:none;
}
.advise_item a:hover{
	text-decoration:underline;
}
.div_line{
	float:right;
	width:1px;
	margin:19px 0px 0 0px;
	height:15px;
	background:#2ABDFF;
}
/*****建议样式结束*****/
/****建议详情样式开始****/
.div_title1{
	text-align: center;
    margin: 10px auto 10px auto;
    color: #000;
    font: 25px/30px 'Microsoft yahei';
    font-weight: 500;
}
.div_title2{
	width:500px;
	text-align: center;
    margin: 10px auto 10px auto;
    color: #000;
    font: 18px/20px 'Microsoft yahei';
}
.del_advise_div_img{
	background-image: url(../images/del_btn_normal.png);
	height:22px;
	width:22px;
	border:0px;
	position:relative;
	left:835px;
}
.del_advise_div_img:hover{
	background-image: url(../images/del_btn_hover.png);
	height:22px;
	width:22px;
	border:0px;
	position:relative;
	left:835px;
}
.del_advise_div_img:active{
	background-image: url(../images/del_btn_press.png);
	height:22px;
	width:22px;
	border:0px;
	position:relative;
	left:835px;
}
.div_dashed1{
	margin: 15px 0 30px 0;
	border-bottom: 1px dashed #2ABDFF;
	width:100%;
}
.advise_detail_content{
	margin:5px auto;
	text-align:left;
	width:600px;
	 font: 16px/30px 'Microsoft yahei';
}
.advise_detail_bottom_div{
	margin:25px 0 40px 0;
	overflow: hidden;
    zoom: 1;
}
.advise_detail_bottom{
	width:200px;
	float:right;
	margin-right:38px;
	font: 15px/20px 'Microsoft yahei';
}
.advise_detail_bottom>div{
	text-align:center;
}
.advise_file_num{
	background:#D8EDFF;
	padding:0 0 0 40px;
	font: 17px/30px 'Microsoft yahei';
}
.filist_img{
	margin:10px 40px;
	overflow: hidden;
	zoom:1;
}
.filist_img>div{
	
}
.filist_img a{
	cursor:pointer;
	text-decoration: none;
	outline: none;
	font: 15px/30px 'Microsoft yahei';
}
.filist_img a:hover{
	text-decoration: underline;
}
.cut_line{
	height:30px;
	background: #FAFAFA;
	border-top:1px solid #d2d2d2;
	border-bottom:1px solid #d2d2d2;
}
.advise_comment_areatext{
	display:block;
	resize: none;
	width:94%;
	height:80px;
	margin:20px auto 8px auto;
	border:1px solid #c9c9c9;
	padding:8px;
	border-radius:3px;
	outline: none;
}
.advise_comment_btn_div{
	text-align:right;
}
.advise_comment_btn_div>div{
	display:inline-block;
	margin-right:18px;
	width:85px;
	text-align:center;
	font: 15px/25px 'Microsoft yahei';
	background:#F6B164;
	cursor:pointer;
}
.advise_comment_btn_div>div:hover{
	background:#dc8436;
}
.comment_list{
	margin:20px auto;
}
.comment_item{
	 border-top:1px solid #d2d2d2;
}
.comment_title{
	width:93%;
	margin:15px auto 10px auto;
	overflow: hidden;
	zoom:1;
}
.comment_name{
	display:inline-block;
	font: 15px/15px 'Microsoft yahei';
	color:#3a75c5;
}
.comment_time{
	display:inline-block;
	margin-left:10px;
	font: 15px/15px 'Microsoft yahei';
}
.comment_content{
	width:93%;
	margin:0px auto 5px auto;
	font: 15px/18px 'Microsoft yahei';
}
.comment_handel{
	width:93%;
	margin:5px auto 5px auto;
	text-align:right;
}
.comment_handel a{
	display:inline-block;
	margin-left:5px;
	font: 14px/14px 'Microsoft yahei';
	text-decoration: none;
	outline: none;
	cursor:pointer;
	color:#2ABDFF;
}
.comment_handel>div{
	display:inline-block;
	margin-left:5px;
	background:#2ABDFF;
	width:1px;
	height:10px;
}
.reply_list{
	margin:10px auto;
	width:93%;
}
.reply_item{
	
}
.reply_title{
	overflow: hidden;
	zoom:1;
	margin:5px 0 5px 40px;
}
.reply_name{
	display:inline-block;
	font: 14px/14px 'Microsoft yahei';
}
.reply_name>span:nth-of-type(1){
	display:inline-block;
	margin-right:5px;
	color:#3a75c5;
}
.reply_name>span:nth-of-type(2){
	display:inline-block;
	margin-left:5px;
	color:#3a75c5;
}
.reply_time{
	display:inline-block;
	margin-left:10px;
	font: 14px/14px 'Microsoft yahei';
}
.reply_content{
	margin: 0  0 5px 40px;
	font: 14px/16px 'Microsoft yahei';
}
.reply_handel{
	margin:5px auto 5px auto;
	text-align:right;
}
.reply_handel a{
	display:inline-block;
	margin-left:5px;
	font: 14px/14px 'Microsoft yahei';
	text-decoration: none;
	outline: none;
	cursor:pointer;
	color:#2ABDFF;
}
.reply_handel>div{
	display:inline-block;
	margin-left:5px;
	background:#2ABDFF;
	width:1px;
	height:10px;
}
.advise_reply_areatext_div{
	width: 93%;
    margin: 5px auto;
	overflow: hidden;
	zoom:1;
	text-align:right;
}
.advise_reply_areatext{
	display:block;
	resize: none;
	height:80px;
	margin:0 0 0 40px;
	width: 92.8%;
	border:1px solid #c9c9c9;
	padding:8px;
	border-radius:3px;
	outline: none;
}
.advise_reply_btn_div{
	margin:5px auto;
	text-align:right;
	overflow: hidden;
    zoom: 1;
}
.advise_reply_btn_div>div{
	font: 13px/23px 'Microsoft yahei';
	width:80px;
	margin:0 5px;
	display:inline-block;
	border:1px solid #c9c9c9;
	text-align:center;
	border-radius:2px;
	cursor:pointer;
}
.advise_reply_btn_div>div:nth-of-type(1){
	color:#fff;
	background:#2BA2FF;
}
.advise_reply_btn_div>div:nth-of-type(1):hover{
	background:#279ce8;
}
.advise_reply_btn_div>div:nth-of-type(2){
	margin-right:0px;
}
.advise_reply_btn_div>div:nth-of-type(2):hover{
	background:#e5e5e5;
}
/****建议详情样式结束****/
/****发布建议样式结束****/
.advise_border{
	width:90%;
	margin:20px auto;
	border:1px solid #c9c9c9;
}
.advise_title_input{
	display:block;
	outline: none;
	border: 1px dashed #2ABDFF;
	width:60%;
	margin:20px auto;
	font: 17px/40px 'Microsoft yahei';
	text-align:center;
	padding:0 10px;
}
input::-ms-input-placeholder{text-align: center;}
input::-webkit-input-placeholder{text-align: center;}
.div_dashed2{
	margin: 5px auto;
	border-bottom: 1px dashed #2ABDFF;
	width:90%;
}
.advise_content_textarea{
	border:none;
	outline: none;
	resize: none;
	display:block;
	height:250px;
	width:80%;
	margin:20px auto;
	padding:5px;
	font: 15px/20px 'Microsoft yahei';
}
.advise_select_div{
	background:#EEEEEE;
	overflow: hidden;
    zoom: 1;
}
.advise_select_type_div{
	float:left;
	margin:0 0 0 10px;
	font: 17px/50px 'Microsoft yahei';
}
.advise_select_type_select{
	float:left;
	margin:14px 10px 0 0px;
	padding:0 5px;
	font: 14px/25px 'Microsoft yahei';
}
.username_show_div{
	float:left;
	margin:0 10px 0 0;
	max-width: 400px;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
	font: 14px/50px 'Microsoft yahei';
}
.username_add_a{
	float:left;
	font: 14px/50px 'Microsoft yahei';
	cursor:pointer;
	text-decoration: none;
	outline: none;
	display:none;
}
.anonymous_label{
	float: right;
    font: 17px/50px 'Microsoft yahei';
    margin: 0px 15px 0 0;
    cursor:pointer;
}
.anonymous_label input{
	position: relative;
    top: 3px;
    width: 12px;
    zoom: 1.4;
    right: 5px;
}
.add_file_div{
	font: 15px/23px 'Microsoft yahei';
	margin: 13px 8px 0 0;
	width:80px;
	text-align:center;
	float:right;
	color:#2BA2FF;
	background:#fff;
	border-radius:2px;
	border:1px solid #2BA2FF;
	cursor:pointer;
}
.add_file_div:hover{
	color:#fff;
	background:#2BA2FF;
}
.advise_publisher_div{
	margin:20px auto 40px auto;
	overflow: hidden;
    zoom: 1;
}
.advise_publisher_div input{
	float:right;
	margin-right:38px;
	width:150px;
	padding:0 5px;
	font: 15px/35px 'Microsoft yahei';
	outline: none;
	border: 1px dashed #2ABDFF;
	text-align:center;
}
.advise_btngroup_div{
	width:90%;
	margin:20px auto;
	text-align:right;
	overflow: hidden;
    zoom: 1;
}
.advise_btngroup_div>div{
	font: 14px/25px 'Microsoft yahei';
	width:80px;
	margin:0 5px;
	display:inline-block;
	border:1px solid #c9c9c9;
	text-align:center;
	border-radius:2px;
	cursor:pointer;
}
.add_advise_div{
	color:#fff;
	background:#2BA2FF;
}
.add_advise_div:hover{
	background:#279ce8;
}
.cancel_advise_div{
	color:#666;
	background:#fff;
}
.cancel_advise_div:hover{
	background:#e5e5e5;
}
.communicate_file_publish_list{
	margin:10px 40px 10px 40px;
	zoom:1;
	overflow: hidden;
}
.communicate_file_publish_list>div{
	font: 14px/25px 'Microsoft yahei';
}
.communicate_file_publish_list a{
	display:inline-block;
	margin-left:10px;
	text-decoration: none;
	outline: none;
}
.communicate_file_publish_list a:hover{
	text-decoration: underline;
}
.communicate_file_num{
	background:#D8EDFF;
	padding:0 0 0 40px;
	font: 17px/30px 'Microsoft yahei';
}
.dialog_selectuser_bg{
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	opacity:0.3;
	filter:alpha(opacity=0.3);
	background-color:#000000;
	z-index:2;
	border:1px solid #e5e5e5;
}
.dialog_selectuser{
	background:#fff;
	position:fixed;
	top:50%;
	left:50%;
	margin-left:-200px;
	margin-top:-150px;
	width: 510px;
	z-index:3;
	display:none;
}
.dialog_title{
	border-bottom:1px solid #e5e5e5;
	padding:0 10px;
	font: 15px/30px 'Microsoft yahei';
	background:#EEF9FB;
}
.dialog_selectuser_input_div{
	position:relative;
	width:115px;
	top:4px;
	display:inline-block;
	height:23px;
	margin-left:120px;
	border: 1px solid #c9c9c9;
	border-radius:2px;  
	background:#fff;
}
.dialog_selectuser_input_div input{
	font: 13px/23px 'Microsoft yahei';
    text-align: left;
    border-radius: 2px;
    height: 23px;
    width: 80px;
    border: 0 none;
    padding: 0px 5px;
    position: absolute;
    left: 0;
}
.dialog_selectuser_input_div input::-ms-input-placeholder{text-align: left;}
.dialog_selectuser_input_div input::-webkit-input-placeholder{text-align: left;}
.dialog_title img{
	border: 0 none;
    position: absolute;
    top: 3px;
    right: 5px;
    height: 16px;
    width: 16px;
    cursor:pointer;
}
.dialog_close{
	float:right;
	height: 22px;
    width: 22px;
    margin-top: 4px;
    border: 0px;
    background-image: url(../images/del_btn_normal.png);
}
.dialog_close:hover{
	background-image: url(../images/del_btn_hover.png);
}
.dialog_close:active{
	background-image: url(../images/del_btn_press.png);
}
.dialog_canselectuser{
	height:200px;
	overflow-y:auto;
	padding: 5px;
}
.dialog_canselectuser label{
	background-color: #ededed;
    border-radius: 2px;
    border: 1px solid #d6d6d6;
    display:inline-block;
    list-style: none;
    height: 22px;
    line-height: 22px;
    margin: 3px;
    padding: 0 3px;
    cursor: pointer;
    width: 80px;
}
.dialog_canselectuser span{
	float: left;
	width:50px;
	margin-left:5px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    word-wrap: normal;
}
.dialog_canselectuser input{
	position: relative;
    float: left;
    width: 15px;
    top: 2px;
    zoom: 1;
}
.dialog_selected_title{
	padding:0 10px;
	font: 13px/23px 'Microsoft yahei';
	overflow:hidden;
	zoom:1;
	border-top:1px solid #eeeeee;
	font-weight: 700;
}
.dialog_selected_title a{
	float:right;
	text-decoration: none;
	font-weight: normal;
}
.dialog_selected_title a:hover{
	text-decoration: underline;
}
.dialog_selected_name{
	height: 70px;
    overflow-y: auto;
    padding: 0 3px;
}
.dialog_selected_name li{
	background-color: #ededed;
    border-radius: 2px;
    border: 1px solid #d6d6d6;
    display:inline-block;
    list-style: none;
    height: 22px;
    line-height: 22px;
    margin: 3px;
    padding: 0 3px;
    cursor: pointer;
    width: 55px;
}
.dialog_selected_name span:nth-of-type(1){
	float: left;
    width: 40px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    word-wrap: normal;
}
.dialog_selected_name span:nth-of-type(2){
	float: left;
    color: #a8a8a8;
    margin-left: 5px;
    cursor: pointer;
    font-size: 14px;
    width: 10px;
    overflow: hidden;
    font-family: arial;
}
.dialog_bottom{
	text-align:right;
	height:40px;
	background:#eeeeee;
}
.dialog_btn_sure{
	font: 14px/25px 'Microsoft yahei';
	width:80px;
	margin:6px 5px 0 5px;
	display:inline-block;
	border:1px solid #c9c9c9;
	text-align:center;
	border-radius:2px;
	cursor:pointer;
	color:#fff;
	background:#2BA2FF;
}
.dialog_btn_sure:hover{
	background:#279ce8;
}
.dialog_btn_cancle{
	font: 14px/25px 'Microsoft yahei';
	width:80px;
	margin:6px 10px 0 5px;
	display:inline-block;
	border:1px solid #c9c9c9;
	text-align:center;
	border-radius:2px;
	cursor:pointer;
	color:#666;
	background:#fff;
}
.dialog_btn_cancle:hover{
	background:#e5e5e5;
}
/****发布建议样式结束****/