/*****ͷ������ͼ��ʽ��ʼ*****/
.background_color_did{
	background-color: #42C752;
}
.background_color_nodid{
	background-color: #E1EAEF;
}
.background_color_error{
	background-color: #FF4401;
}
.background_color_hangupdid{
	background-color: #FFA101;
}
.color_did{
	color: #42c652;
}
.color_nodid{
	color: #5C5C5C;
}
.color_error{
	color: #FF4401;
}
.color_hangupdid{
	color: #FFA101;
}
/*****ͷ������ͼ��ʽ����*****/
/**�ѳ�����ʽ��ʼ**/
.title1_flow0{
	width: 100%;
    overflow: hidden;
    zoom: 1;
    margin: 0 auto;
    margin: 0 auto;
    font: bolder 14px/25px 'SimSun';
}
 .title1_flow0 div{
	 display:none;
 }
.title1_flow0 div:nth-of-type(1){
 	float:left;
 	display:block;
 	margin-left:22px;
 }
  .title1_flow0 div:nth-of-type(7){
 	float:right;
 	display:block;
 	margin-right:26px;
 }
 .title2_flow0{
	width:94.4%;
	overflow: hidden;
    zoom: 1;
    margin: 0 auto;
 }
.title2_flow0 img {
	float: left;
    width: 28px;
    display:none;
}
.title2_flow0 div{
	float: left;
    width: 92.5%;
    height: 5px;
    margin-top: 10px;
    display:none;
}
.title2_flow0 div:nth-of-type(6){
	display:block;
}
.title2_flow0 img:nth-of-type(1){
	display:block;
}
.title2_flow0 img:nth-of-type(7){
	display:block;
}
.title3_flow0{
    overflow: hidden;
    zoom: 1;
    margin: 0 auto;
    color: #000;
    font: 12px/15px 'SimSun';
}
.title3_flow0 div{
	 display:none;
}
.title3_flow0 div:nth-of-type(1){
	display:block;
	float:left;
	margin-left:8px;
}
.title3_flow0 div:nth-of-type(7){
	display:block;
	float:right;
	margin-right:10px;
}
/**�ѳ�����ʽ������**/
/**��ͨ��ʽ��ʼ**/
.title1_flow1{
	width: 100%;
    overflow: hidden;
    zoom: 1;
    margin: 0 auto;
    height:36px;
    font: bolder 14px/25px 'SimSun';
}
.title1_flow1>div{
	width: 100px;
}
.title1_flow1 div{
	line-height: 18px;
}
.title1_flow1>div:nth-of-type(1){
 	float:left;
 	display:block;
 	margin-left:-12px;
 }
 .title1_flow1>div:nth-of-type(2){
 	float:left;
 	display:block;
 	margin-left:26px;
 }
 .title1_flow1>div:nth-of-type(3){
 	float:left;
 	display:block;
 	margin-left:26px;
 }
 .title1_flow1>div:nth-of-type(4){
 	float:left;
 	display:block;
 	margin-left:26px;
 }
 .title1_flow1>div:nth-of-type(5){
 	float:left;
 	display:block;
 	margin-left:26px;
 }
 .title1_flow1>div:nth-of-type(6){
 	float:left;
 	display:block;
 	margin-left:26px;
 }
  .title1_flow1>div:nth-of-type(7){
  	width:30px;
 	float: right;
    display: block;
    margin-right: 23px;
 }
 .title2_flow1{
	width:94.4%;
	overflow: hidden;
    zoom: 1;
    margin: 0 auto;
 }
.title2_flow1 img {
	float: left;
    width: 28px;
}
.title2_flow1 div{
	float: left;
    width: 12.5%;
    height: 5px;
    margin-top: 10px;
}
.title3_flow1{
    overflow: hidden;
    zoom: 1;
    margin: 0 auto;
    color: #000;
    font: 12px/15px 'SimSun';
}
.title3_flow1>div:nth-of-type(1){
	float:left;
	 margin-left:8px;
}
.title3_flow1>div:nth-of-type(2){
	float:left;
	margin-left:66px;
}
.title3_flow1>div:nth-of-type(3){
	 float:left;
	 margin-left:66px;
}
.title3_flow1>div:nth-of-type(4){
	float:left;
	margin-left:66px;
}
.title3_flow1>div:nth-of-type(5){
	 float:left;
	 margin-left:66px;
}
.title3_flow1>div:nth-of-type(6){
	 float:left;
	 margin-left:66px;
}
.title3_flow1>div:nth-of-type(7){
	 float:right;
	 margin-right:10px;
}
/**��ͨ��ʽ������**/
.td2_div0{
	margin:50px 20px 0 20px;
    border:1px solid #666666;
}
.td2_div1 {
    text-align: center;
    margin: 20px auto 0px auto;
    color: #000;
    font: 25px/30px 'SimSun';
    font-weight: 700;
}
.td2_div2{
	margin:30px auto;
}
.td2_div2 select{
	max-width:150px;
	height: 25px;
}
.td2_div2>div{
	width:600px;
	text-align:left;
	margin:5px auto;
	font: 14px/20px 'SimSun';
}
.div_name span{
	display:inline-block;
	min-width: 70px;
	font: 14px/25px 'SimSun';
	vertical-align: top;
}
.div_name div{
	display:inline-block;
	width: 500px;
	line-height: 20px;
	position: relative;
    top: 2px;
}
.div_name input{
	display:inline-block;
	width: 500px;
    height: 22px;
    background: #fff;
    border: 0;
    border-bottom: 1px solid #787878;
    outline:none;
}
.div_ptype{
	zoom:1;
	overflow: hidden;
}
.div_ptype>div{
	width:300px;
	float:left;
}
.div_ptype span{
	display:inline-block;
	min-width: 70px;
	font: 14px/25px 'SimSun';
	vertical-align: top;
}
.div_ptype input{
	display:inline-block;
	width: 160px;
    height: 22px;
    background: #fff;
    border: 0;
    border-bottom: 1px solid #787878;
    outline:none;
}
.div_ptype>div>div {
    display: inline-block;
    width: 190px;
    line-height: 20px;
    position: relative;
    top: 2px;
}
.div_dashed{
	width:88%;
	margin: 20px auto;
    border-bottom: 1px dashed #01A6FF;
}
.file_num{
	text-align:left;
	background: #D8EDFF;
    padding: 0 5px 0 45px;
    font: 17px/30px 'Microsoft yahei';
}
.alter_file{
	display: block;
    border: 1px solid #0897f2;
    width: 791px;
    margin: 0 auto;
    padding: 5px;
}
.assistant_files_parent{
	
}
.assistant_files{
	color: #FF9999;
    font-size: 13px;
    text-align: left;
    margin: 0 0 0 0px;
}
.div_file_list,.div_file_list2{
	text-align:left;
	margin: 10px 40px 10px 45px;
    zoom: 1;
    overflow: hidden;
}
/* .alter_file>div{
	margin: 10px 0px 0px 35px;
} */
.div_file_item{
	font: 14px/25px 'Microsoft yahei';
}
.div_file_item span{
	display: inline-block;
    margin-right: 10px;
}
.div_file_item a{
	display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    outline: none;
    color:#0897f2;
}
.div_file_item a:hover{
	text-decoration: underline;
}
.div_addfile_div{
	zoom:1;
	overflow: hidden;
}
.div_addfile{
	float:right;
	width: 80px;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
    font: 14px/25px 'Microsoft yahei';
    border: 1px solid #c9c9c9;
	background:#2abefe;
	color:#fff;
}
.td2_table8{
	width:791px;
	margin:0px auto;
	border-left:1px solid #878787;
	border-right:1px solid #878787;
	border-bottom:1px solid #878787;
	border-collapse: collapse;
}
.td2_table8_left{
	width: 90%;
    text-align: left;
    font: 14px/20px 'microsoft yahei';
    padding: 10px 5px 40px 50px;
    word-break: break-all;
}
.td2_table8_left div{
	margin:0;
}
.td2_table8_left a{
	display:inline-block;
	color:#5BB5F6;
	outline: none;
	text-decoration: none;
}
.td2_table8_left a:hover{
	text-decoration: underline;
}
.td2_table8_right{
	width:10%;
	text-align:center;
	vertical-align:bottom;
	min-width:127px;
	padding:20px 0px 10px 0px;
}
.td2_div5_bottom_right1{
	margin-left:20px;
	font:14px/30px 'microsoft yahei';
}
.td2_div5_bottom_right2{
	margin-left:20px;
	font:13px/25px 'microsoft yahei';
}
.td2_div5_bottom_agree{
	vertical-align:middle;
	width:127px;
	height:69px;
	background-image:url(../images/agree_bg.png);
	filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";  
	-moz-background-size:100% 100%;  
    background-size:100% 100%;  
}
.td2_div5_bottom_confirm{
	vertical-align:middle;
	width:127px;
	height:69px;
	background-image:url(../images/confirm_bg.png);
	filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";  
	-moz-background-size:100% 100%;  
    background-size:100% 100%;  
}
.td2_div5_bottom_disagree{
	height:69px;
	width:127px;
	background-image:url(../images/disagree_bg.png);
	filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";  
	-moz-background-size:100% 100%;  
    background-size:100% 100%;  
}
.div_testarea{
    display: block;
    height: 60px;
    width: 790px;
    margin: 20px auto;
    font: 13px/20px 'SimSun';
    border: 1px solid #878787;
 }
.btn_group{
	width: 790px;
	margin:30px auto;
	text-align: right;
}
.btn_group div{
	width:80px;
	border-radius: 2px;
    cursor:pointer;
    text-align: center;
   	font: 14px/25px 'Microsoft yahei';
    margin: 0 0 0 5px;
    display: inline-block;
    border: 1px solid #c9c9c9;
}
.div_cancel{
	background:#E5E5E5;
	color: #666;
}
.div_file{
	background:#2abefe;
	color:#fff;
}
.div_agree{
	background:#41c651;
	color:#fff;
}
.div_disagree{
	background:#ff5719;
	color:#fff;
}