/**流程列表样式开始**/
.td2_div1{
	text-align:center;
	margin:20px auto;
	color:#000;
	font:20px/30px 'SimSun';
	font-weight:700;
}
.selectpicker .clear{
	top:-3px;
}
.td2_table0{
	border:0px;
	border-collapse: collapse;
	margin:30px auto;
	width:100%;
	border-top:1px solid #878787;
	border-left:1px solid #878787;
}
.td2_table0 td{
	font:14px/30px 'SimSun';
	padding:10px 10px 10px 5px; 
	border-bottom:1px solid #878787;
	border-right:1px solid #878787;
}
.table0_tr1{
	height:40px;
}
.table0_tr1_td1{
	text-align:center;
	width:1%;
	min-width:120px;
}
.table0_tr1_td2{
	text-align:left;
	width:99%;
}
.table_div_left{
	float:left;
	min-width:400px;
	width: 60%;
}
.table0_div_right{
	float:left;
	margin-left:80px;
	color:#f00;
}
.table0_tr1_td2 select{
	height:30px;
	min-width:100px;
	padding:3px;
	max-width:500px;
}
.table0_tr2_td1{
	text-align:center;
	width:1%;
	min-width:120px;
	
}
.table0_tr2_td2{
	text-align:left;
	width:99%;
	text-align:left;
}
.div_btn{
	
}
.div_btn img{
	border: none; 
	height:35px;
	cursor:pointer;
}
/**新建任务单流程样式结束**/

