@import url(font-awesome.min.css);
/*@import url(http://fonts.useso.com/css?family=Pacifico);
@import url(https://fonts.useso.com/css?family=Raleway:400,700);*/
/***项目任务单**/
.section-white {
	float:left;
	margin-left:0px;
	width:400px;
    background:#fff;
    margin-bottom:10px;
}
.section-white2 {
	float:left;
	color:#f00;
	margin-top:8px;
	font:13px/20px 'SimSun';
	margin-left:20px;
    background: #fff;
}
/****生产流程*****/
.section-white7 {
	font:13px/20px 'SimSun';
	margin-left:5px;
	width:200px;
    background:#fff;
}
/**生产采购***/
.section-white1 {
	font:14px/30px 'SimSun';
	margin-top:10px;
	min-width:500px;
	width:60%;
    background:#fff;
}
.section-white3 {
	font:14px/20px 'SimSun';
}
.section-white3 input{
	text-align:center;
	width:90px;
	height:28px;
}
.section-white3 span{
	margin-left:50px;
	color:#f00;
}
.div_time_left{
	float:left;
	width:10%;
	min-width:100px;
	font:14px/25px 'SimSun';
	position: relative;
	margin-right: 450px;
	font-weight: bold;
}
.div_img_right{
	float:left;
	width:80%;
	vertical-align:top;
}
.div_img_right a{
	text-decoration: none;
	font:14px/25px 'SimSun';
}
.div_img_right a:hover{
	text-decoration: underline;
}

/***项目采购***/
.section-white5{
	float:left;
	min-width:400px;
	width: 60%;
}
.section-white6 {
	float:left;
	color:#f00;
	margin-top:8px;
	font:13px/20px 'SimSun';
	margin-left:20px;
    background: #fff;
}
/****添加设备****/
.section-white8{
	float:left;
	min-width:400px;
	width: 50%;
    background:#fff;
}
.section-white9 {
	float:left;
	color:#f00;
	margin-top:8px;
	font:13px/20px 'SimSun';
	margin-left:20px;
    background: #fff;
}
/***发货***/
.section-white0{
	float:left;
	width:400px;
}
/***上传excel***/
.section-white10{
	color:#f00;
	font:13px/20px 'SimSun';
	margin-left:20px;
    background: #fff;
}

