/**流程列表样式开始**/
.td2_div1{
	text-alig:center;
	margin:10px auto 20px auto;
	color:#000;
	font:bold 20px/30px 'SimSun';
}
/**表格**/
.td2_table2{
	margin-top:20px;
	width:100%;
	color:#000;
	font:14px/30px 'SimSun';
	border-collapse: collapse;
	border-left:1px solid #878787;
	border-top:1px solid #878787;
}
.td2_table2 label{
	font:13px 'SimSun';
}

.td2_table2 td{
	border-right:1px solid #878787;
	border-bottom:1px solid #878787;
}
.table2_tr1{
	height:40px;
}
.table2_tr1_td1{
	text-align:center;
	width:1%;
	min-width:80px;
	color:#000;
}
.table2_tr1_td2{
	width:99%;
	text-align:left;
	padding:10px;
}
.table2_tr1_td2 input{
	height:20px;
	width:60%;
	padding:2px 5px;
}
.table2_tr1_td2 span{
	margin-left:50px;
 	height:20px;
	color:#f00;
	font:13px 'SimSun';
}
.table2_tr2{
	
}
.table2_tr2_td1{
	text-align:center;
	width:1%;
	min-width:80px;
	color:#000;
}
.table2_tr2_td2{
	width:99%;
	text-align:left;
	padding:10px;
	font:13px/20px 'SimSun';
}
.table2_tr2_td2 span{
	display:inline-block;
	height:25px;
	font:13px/25px 'SimSun';
}
.table2_span_left{
	min-width:105px;
}
.table2_span_right{
	min-width:60px;
	margin-right:20px;
}
.table2_tr3{

}
.table2_tr3_td1{
	text-align:center;
	width:1%;
	min-width:80px;
	color:#000;
}
.table2_tr3_td2{
	width:99%;
	text-align:left;
	padding:10px;
	font:13px/20px 'SimSun';
}
.table2_tr3_td2 input{
	height:20px;
	width:140px;
	padding:0px 5px;
}

.table2_tr4{
	
}
.table2_tr4_td1{
	text-align:center;
	width:1%;
	min-width:80px;
	color:#000;
}
.table2_tr4_td2{
	width:99%;
	text-align:left;
	padding:10px;
	font:13px/20px 'SimSun';
}
.table2_tr4_td2 input{
	height:20px;
	width:140px;
	padding:0px 5px;
}
.table2_tr5_td1{
	text-align:center;
	width:1%;
	min-width:80px;
	color:#000;
}
.table2_tr5_td2{
	width:99%;
	text-align:left;
	padding:10px;
}
.table2_tr5_td2 input{
	width:100px;
	height:25px;
	color:#000;
	padding:2px 5px;
	
}
.table2_tr6_td1{
	text-align:center;
	width:1%;
	min-width:80px;
	color:#000;
}
.table2_tr6_td2{
	width:99%;
	text-align:left;
	padding:10px;
}
.table2_tr6_td2 input{
	padding:0px;
	margin-left:0px;/**去掉radio自带的边距**/
	position: relative; top:2px;
}
.table2_tr6_td2 span{
	font:13px 'SimSun';
	line-height:15px
}
.table2_tr6_td2 div{
	font:13px/20px 'SimSun';
	line-height:15px
}
.table2_tr6_td2 textarea{
	display: block;
	height:100px; 
	width:98%;
	margin-top:10px;
	padding:5px;
	border-left:1px solid #878787;
	font:13px/20px 'SimSun';
}
.table2_tr7_td1{
	text-align:center;
	width:1%;
	min-width:80px;
	color:#000;
}
.table2_tr7_td2{
	width:99%;
	text-align:left;
	padding:10px;
}
.div_btn{
	margin-top:20px;
	text-align:center;
}
.fistbutton{
	border: none; 
	height:35px;
	cursor:pointer;
	margin-right:50px;
}
.btn_agree{
	border: none; 
	height:35px;
	cursor:pointer;
}
.btn_disagree{
	border: none; 
	height:35px;
	margin-left:50px;
	cursor:pointer;
}
/**新建任务单流程样式结束**/

