/****操作日志样式开始***/
.td1_track{
	margin:20px auto;
  	width:1092px;
  	text-align:center;
  	border:1px solid #E2E6E7;
  	background:#fff;
  	padding:30px 0px;
}
.td1_div0{
    margin: 20px auto;
    text-align: center;
    font: bold 36px/40px 'KaiTi';
}
.td2_div3{
	text-align:right;
	width:95%;
	overflow:hidden;
	zoom:1;
	margin:0px auto 10px auto;
}
.input-hide-time {
    float: right;
    width: 0px;
    display: inline-block;
    padding: 0px;
    height: 0px;
    border: 0px;
    position: relative;
    top: 25px;
    left: 5px;
    z-index: -100;
}
.input-show-time {
	float:right;
	margin-left:5px;
	text-align: center;
    width: 90px;
	font:14px/23px 'microsoft yahei';
	border: 1px solid #c9c9c9;
	background:#DCF4FF;
}
.td2_div3 img{
	height: 25px;
    float: right;
    margin-left: 5px;
    position: relative;
    top: 1px;
    cursor: pointer;
}
.td2_div3 div{
	float:right;
	width:40px;
	text-align:center;
	margin-left:5px;
	font:14px/25px 'microsoft yahei';
}
.td2_div1{
	text-align:right;
	width:95%;
	overflow:hidden;
	zoom:1;
	margin:0px auto 10px auto;
	position: relative;
    z-index: 1;
}
.td2_div1 input{
	float:right;
	height:26px;
	width:150px;
	background:#fff;
	border:1px solid #c9c9c9;
	padding:0px 10px;
	margin-right:-3px;
}
.serach_img3{
	float:right;
	width:22px;
	margin-left:7px;
	margin-right:1px;
	position:relative;
	top:3px;
	cursor:pointer;
}
.serach_img2{
	float:right;
	height:26px;
	border-right:1px solid #c9c9c9;
	border-top:1px solid #c9c9c9;
	border-bottom:1px solid #c9c9c9;
	cursor:pointer;
}
.serach_img1{
	float:right;
	height:26px;
	border-right:1px solid #c9c9c9;
	border-top:1px solid #c9c9c9;
	border-bottom:1px solid #c9c9c9;
	cursor:pointer;
}
.td2_div2_parent{
	position:relative; z-index:1;
}
.td2_div2{
	width: 280px;
    border: 1px solid #c9c9c9;
    text-align: left;
    padding: 20px 30px 10px 30px;
    overflow: hidden;
    background: #fff;
    zoom: 1;
    font: 13px 'SimSun';
    position: absolute;
    z-index: 2;
    top: 10px;
    right: 28px;
    display: none;
}
.td2_div2_btns{
	text-align:left;
	zoom:1;
	overflow: hidden;
}
.chk_1 { 
	float:left;
    display: none; 
} 
.chk_1 + label {
	float:left;
	margin-left:70px;
    background-color: #FFF;
    border: 1px solid #C1CACA;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    display: block;
    position: relative;
    top:1px;
    cursor:pointer;
}
.chk_1:checked + label {
	padding: 0px;
	display: block; 
    background-color: #ECF2F7;
    border: 1px solid #92A1AC; 
    color: #243441;
}
.chk_1:checked + label:after {
    position: relative;
    content: '\2714';
    bottom: 2px;
    left: 3px;
    color: #758794;
    width: 100%;
    text-align: center;
    font-size: 14px;
    vertical-align: text-top;
}
.td2_div2_btns>div:nth-of-type(1){
	float:left;
	font:15px/20px 'microsoft yahei';
	text-align:center;
	margin:0 10px 0 8px;
	cursor:pointer;
}
.td2_div2_btns>div:nth-of-type(2){
	float:left;
	background:#FAA553;
	font:15px/20px 'microsoft yahei';
	width:50px;
	border-radius: 3px;
	color:#fff;
	text-align:center;
	margin:0 10px;
	cursor:pointer;
}
.td2_div2_btns>div:nth-of-type(3){
	float:left;
	background:#32B16C;
	font:15px/20px 'microsoft yahei';
	width:50px;
	border-radius: 3px;
	color:#fff;
	text-align:center;
	margin:0 10px;
	cursor:pointer;
}
.td2_div2_usergroup{
	margin-top:10px;
	text-align:left;
	zoom:1;
	overflow: hidden;
}
.td2_div2_usergroup>div{
	margin:10px auto;
	zoom:1;
	overflow:hidden;
}
.chk_2 {
    display: none; 
} 
.chk_2 + label {
	float:left;
    background-color: #FFF;
    border: 1px solid #C1CACA;
    width: 14px;
    height: 14px;
    border-radius: 3px;
    display: block;
    position: relative;
    top:2px;
    cursor:pointer;
}
.chk_2:checked + label {
	padding: 0px;
	display: block; 
    background-color: #ECF2F7;
    border: 1px solid #92A1AC; 
    color: #243441;
}
.chk_2:checked + label:after {
    position: relative;
    content: '\2714';
    bottom: 3px;
    left: 2px;
    color: #758794;
    width: 100%;
    text-align: center;
    font-size: 14px;
    vertical-align: text-top;
}
.td2_div2_usergroup>div>div{
	float: left;
    margin-left: 5px;
    margin-right: 5px;
    font: 15px/20px 'microsoft yahei';
    width: 45px;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
}
.td2_div2_usergroup>div>div:nth-of-type(4){
	margin-right:0px;
}
.trackreport_div{
	width:1037px;
	overflow-x:auto;
	text-align: left;
	margin:20px auto;
	padding: 37px 0 0 0;
	position:relative;
	top:-37px;
}
.trackreport_tab{
	border-top:1px solid #787878;
	border-left:1px solid #787878;
	margin:0px auto;
	border-collapse: collapse;
	white-space:nowrap;
}
.trackreport_tab td{
	border-right:1px solid #787878;
	border-bottom:1px solid #787878;
	padding:3px 5px;
	white-space: nowrap;
	text-align:center;
	position:relative;
}
.trackreport_tab  td{
	border-bottom:1px solid #787878;
	padding:3px 5px;
	white-space: nowrap;
	text-align:center;
	position:relative;
}
.trackreport_tab tr:nth-of-type(1){
	background:#FDFBC9;
}
.trackreport_tab tr:nth-of-type(2){
	
}
.trackreport_tab tr td:nth-of-type(1){
	width:80px;
	white-space: nowrap;
    -o-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}
.trackreport_tab tr td:not(:nth-of-type(1)){
	min-width:30px;
}
.trackreport_tab tr:nth-of-type(1) td:nth-of-type(1){
	font:15px/20px 'SimSun';
}
.trackreport_tab tr:nth-of-type(1) td:not(:nth-of-type(1)){
	font:16px/20px 'SimSun';
	font-weight: bold;
}
.trackreport_tab tr:nth-of-type(2) td:nth-of-type(1){
	background:#80C26A;
	font:15px/20px 'SimSun';
}
.trackreport_tab tr:nth-of-type(2) td:not(:nth-of-type(1)){
	font:16px/20px 'SimSun';
	background:#B8E6FF;
	font-weight: bold;
}
.trackreport_tab tr:not(:nth-of-type(1)):not(:nth-of-type(2)) td{
	font:15px/25px 'SimSun';
}
.trackreport_tab tr:not(:nth-of-type(1)):not(:nth-of-type(2)) td:not(:nth-of-type(1)){
	font:16px/25px 'SimSun';
	font-weight: bold;
}


/****表格第一列标题****/
.trackreport_tab_lefttitle{
	position: relative;
    z-index: 2;
    top: 10px;
    left: 27px;
	border-left:1px solid #787878;
	border-top:1px solid #787878;
}
.trackreport_tab_lefttitle_parent{
	position: absolute;
}
.trackreport_tab_lefttitle >div{
	text-align:center;
	padding: 3px 5px;
	border-right:1px solid #787878;
	border-bottom:1px solid #787878;
}
.trackreport_tab_lefttitle >div:nth-of-type(1){
	background:#FDFBC9;
	font:15px/20px 'SimSun';
}
.trackreport_tab_lefttitle >div:nth-of-type(2){
	background:#80C26A;
	font:15px/20px 'SimSun';
}
.trackreport_tab_lefttitle >div:not(:nth-of-type(1)):not(:nth-of-type(2)){
	font:15px/25px 'SimSun';
}
/***带箭头的浮窗开始**/
.container {
	position: absolute;
    z-index: 2;
    top: -37px;
    left: -45px;
    display: block;
    height: 45px;
    width: 92px;
    background-color: transparent;
}
.container:hover {
	opacity: 0.2;
}
.container div {
	font: 13px/25px 'microsoft yahei';
    border: 1px solid #15AEFC;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    position: absolute;
    background-color: #fff;
    width: 90px;
    text-align: center;
}
.container s {
    position: absolute;
    top: 27px;
    left: 36px;
    display: block;
    height: 0;
    width: 0;
    font-size: 0;
    line-height: 0;
    border-color: #15AEFC transparent transparent transparent;
    border-style: dashed dashed solid dashed;
    border-width: 8px;
}
.container i{
    position: absolute;
    top: -10px;
    left: -8px;
    display: block;
    height: 0;
    width: 0;
    font-size: 0;
    line-height: 0;
    border-color: #fff transparent transparent transparent;
    border-style: solid dashed dashed dashed;
    border-width: 8px;
}
/****带箭头的浮窗*****/
.track_bottom_left{
	zoom:1;
	overflow: hidden;
	width:100%;
	margin:0 auto;
	position: relative;
    top: -37px;
}
.track_bottom_left1{
	float:left;
	text-align:left;
	margin-left:30px;
	font:15px/25px 'Microsoft yahei';
}
.track_bottom_left1 div{
	text-align:left;
}
.track_bottom_left1>div span:nth-of-type(2){
	margin-left:10px;
	display:inline-block;
}

/****操了日志样式结束***/



