<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:/spring/applicationContext.xml
		</param-value>
	</context-param>
	<listener>  
	    <listener-class>com.zzqa.servlet.OnLineSessionListener</listener-class>                          
	</listener>
	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	<listener>
		<listener-class>com.zzqa.servlet.TimerServlet</listener-class>
	</listener>
	<servlet>
		<servlet-name>UserManagerServlet</servlet-name>
		<servlet-class>
			com.zzqa.servlet.UserManagerServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FlowManagerServlet</servlet-name>
		<servlet-class>
			com.zzqa.servlet.FlowManagerServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ContractManagerServlet</servlet-name>
		<servlet-class>
			com.zzqa.servlet.ContractManagerServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NewFlowServlet</servlet-name>
		<servlet-class>
			com.zzqa.servlet.NewFlowServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OperationServlet</servlet-name>
		<servlet-class>com.zzqa.servlet.OperationServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeviceServlet</servlet-name>
		<servlet-class>com.zzqa.servlet.DeviceServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteFileServlet</servlet-name>
		<servlet-class>
			com.zzqa.servlet.DeleteFileServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CheckServlet</servlet-name>
		<servlet-class>com.zzqa.servlet.CheckServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AutocompleteServlet</servlet-name>
		<servlet-class>
			com.zzqa.servlet.AutocompleteServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>HandelTempFileServlet</servlet-name>
		<servlet-class>
			com.zzqa.servlet.HandelTempFileServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>FilePermissionServlet</servlet-name>
		<servlet-class>
			com.zzqa.servlet.FilePermissionServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FileDownServlet</servlet-name>
		<servlet-class>
			com.zzqa.servlet.FileDownServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FileZipDownServlet</servlet-name>
		<servlet-class>
			com.zzqa.servlet.FileZipDownServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DelayEmailServlet</servlet-name>
		<servlet-class>
			com.zzqa.servlet.DelayEmailServlet
		</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>CommunicateServlet</servlet-name>
		<servlet-class>
			com.zzqa.servlet.CommunicateServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ImageServlet</servlet-name>
		<servlet-class>
			com.zzqa.servlet.ImageServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OAServlet</servlet-name>
		<servlet-class>
			com.zzqa.servlet.OAServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserManagerServlet</servlet-name>
		<url-pattern>/UserManagerServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FlowManagerServlet</servlet-name>
		<url-pattern>/FlowManagerServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ContractManagerServlet</servlet-name>
		<url-pattern>/ContractManagerServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NewFlowServlet</servlet-name>
		<url-pattern>/NewFlowServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OperationServlet</servlet-name>
		<url-pattern>/OperationServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeviceServlet</servlet-name>
		<url-pattern>/DeviceServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteFileServlet</servlet-name>
		<url-pattern>/DeleteFileServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckServlet</servlet-name>
		<url-pattern>/CheckServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AutocompleteServlet</servlet-name>
		<url-pattern>/Autocomplete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HandelTempFileServlet</servlet-name>
		<url-pattern>/HandelTempFileServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FilePermissionServlet</servlet-name>
		<url-pattern>/FilePermissionServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FileDownServlet</servlet-name>
		<url-pattern>/FileDownServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FileZipDownServlet</servlet-name>
		<url-pattern>/FileZipDownServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DelayEmailServlet</servlet-name>
		<url-pattern>/DelayEmailServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CommunicateServlet</servlet-name>
		<url-pattern>/CommunicateServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ImageServlet</servlet-name>
		<url-pattern>/ImageServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OAServlet</servlet-name>
		<url-pattern>/OAServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>home.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>404</error-code>
		<location>/login.jsp</location>
	</error-page>
	<session-config>
		<session-timeout>240</session-timeout>
	</session-config>
</web-app>
