/****用户管理样式开始***/
div{
	white-space:normal;
	word-break:break-all;
}
.div_center{
	margin:20px auto;
	width:1092px;
	overflow:hidden;
}
.div_center_left{
	float:left;
	background:#fff;
}
.div_center_left ul{
	border-right:1px solid #DDE0E2;
	border-top:1px solid #DDE0E2;
}
.divlang_press{
	height:55px;
	width:198px;
 	background:#f5f5f5;
 	border-left:2px solid #40C552;
	border-bottom:1px solid #DDE0E2;
	cursor:pointer;
}
.divlang_normal{
	height:55px;
	width:199px;
	background:#fff;
	border-left:1px solid #DDE0E2;
	border-bottom:1px solid #DDE0E2;
	cursor:pointer;
}
.div_word{
	float:left;
	margin-left:15px;
	font:15px/55px 'microsoft yahei';
	width:70px;
	text-align:center;
}
.divlang_press .div_word{
	font-weight:bold;
}
.div_nav{
	float:left;
	font:18px/55px 'microsoft yahei';
	margin-left:35px;
}
.divlang_press .div_nav{
	font-weight:bold;
}
li:hover .divlang_normal{
	color:#41C651;
}
.divlang_press img{
	float:left;
	width:19px;
	border:0px;
	margin-left:30px;
	vertical-align:middle;
}
.divlang_normal img{
	float:left;
	width:19px;
	margin-left:31px;
	vertical-align:middle;
}
.div_center_right{
	float:right;
	width:872px;
	background:#fff;
	border:1px solid #E5E6E8;
	padding:18px 0px;
}
.div_center_right1{
	float:left;
	margin-left:17px;
	width:805px;
	background:#fff;
	border:1px solid #E5E6E8;
	padding:30px 0px;
}
.div_center_right2{
	float:left;
	margin-left:17px;
	width:805px;
}
.td2_div1{
	text-alig:right;
	width:95%;
	overflow:hidden;
	zoom:1;
	margin:0px auto 10px auto;
}
.td2_div1 input{
	float:right;
	height:26px;
	width:200px;
	background:#fff;
	border:1px solid #c9c9c9;
	padding:0px 10px;
}
.td2_div1 img{
	float:right;
	height:26px;
	border-right:1px solid #c9c9c9;
	border-top:1px solid #c9c9c9;
	border-bottom:1px solid #c9c9c9;
	cursor:pointer;
}
.position_detail{
	color:#0000EE;
	cursor:pointer;
}
.tab_img_left{
	height:20px;
	vertical-align:middle;
	cursor:pointer;
}
.tab_img_right{
	height:20px;
	vertical-align:middle;
	cursor:pointer;
}
.td2_div2{
	width:80%;;
	margin:10px auto;
}
.tab_createuser{
	margin:0px auto;
	border-collapse: collapse;
	width:100%;
}
.tab_createuser td{
	vertical-align:top;
	padding:10px;
}
.tab_createuser_td1{
	width:35%;
	text-align:right;
	color:#000;
	font:15px/30px 'microsoft yahei';
}
.tab_createuser_td2{
	width:65%;
	text-align:left;
	color:#000;
	font:14px/30px 'microsoft yahei';
}
.tab_createuser_td2 input[type="text"]{
	padding:0px 10px;
	height:25px;
	width:200px;
}
.tab_createuser_td2 input[type="password"]{
	padding:0px 10px;
	height:25px;
	width:200px;
}
.tab_createuser_td2 input[type="email"]{
	padding:0px 10px;
	height:25px;
	width:200px;
}
.tab_createuser_td2 select{ 
	padding:0px 10px;
	height:27px;
	width:224px;
}
.tab_createuser_td2 span{
	color:#f00;
	margin-left:90px;
}
.chexbox_div{
	float:left;
    background: #fff;
    font:14px/30px 'microsoft yahei';
}
.chexbox_div label{
	display:inline-block;
	width:90px;
}
.chexbox_div input[type="radio"]{
	position: relative; 
	top:2px;
	padding:0px;
	margin:0px;
}
.chexbox_div div{
	height:30px;
}
.chexbox_div input[type="checkbox"]{
	position:relative; 
	top:2px;
	padding:0px;
	margin:0px;
}
.error_div {
	float:left;
	color:#f00;
	margin-left:33px;
    background: #fff;
}


.tab_user{
	margin:30px auto;
	border-collapse: collapse;
}
.tab_user td{
	vertical-align:top;
	padding:10px;
	font:15px/30px 'microsoft yahei';
}
.tab_user_td1{
	text-align:right;
	color:#000;
}
.tab_user_td2{
	text-align:left;
	color:#000;
}
.changepass{
	color:#0000EE;
	cursor:pointer;
}
.tab_user_td2 a{
	text-decoration: none;
	outline:none;
}
.tab_user_td2 span{
	color:#f00;
	margin-left:90px;
}
.chexbox_div1{
	float:left;
}
.chexbox_div1 label{
	display:inline-block;
	width:75px;
}
.chexbox_div1 div{
	height:30px;
}

.fieldset{
	width:60%;
	margin:30px auto;
	border-radius:5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border:1px solid #959595;
}
.fieldset legend{
	font: 16px 'microsoft yahei';
	margin-left:-10px;
	padding:0px 10px;
	color:#000;
	font-weight: bold;
}
#tooltip{
	border:1px solid #799DD8;
	background:#ffffff;
	position:absolute;
	padding:8px;
	color:#333;
	min-width:50px;
	max-width:350px;
	display:none;
	text-align:center;
}
/****用户管理样式结束***/
/*****组织架构样式开始******/
.td2_div3{
	width:95%;
	margin:0px auto;
}
/*******组织架构样式结束******/
/*****添加组织样式开始******/
.td2_div4{
	width:95%;
	margin:0px auto;
}
/******添加组织样式结束******/
/******年份轴样式开始********/
.year_list_div{
	position: fixed;
    top: 119px;
    margin-left: 477px;
    left: 50%;
    width: 50px;
    text-align: center;
    border: 1px solid #E5E6E8;
    border-top: none;
}
.newtop{
	 top: 155px;
}
.year_list_div>div{
	line-height:150px;
	font-size:15px; 
	font-family:'microsoft yahei';
	border-top:1px solid #E5E6E8;
	cursor:pointer;
}
.year_item_div_normal{
	background:#fff;
	color:#000;
}
.year_item_div_normal:hover{
	background:#FFF7E4;
	color:#000;
}
.year_item_div_press{
	background:#18B2E4;
	color:#fff;
}
/******年份轴样式结束********/