.td2_div2{
	text-align:center;
	margin:20px auto;
	color:#000;
	font:bold 25px/30px 'SimSun';
}
.td2_table{
	border:0px;
	table-layout: fixed;
	border-collapse: collapse;
	margin:0px auto;
	width:90%;
	border-top:1px solid #000;
	border-left:1px solid #000;
	font:14px/35px 'microsoft yahei';
}
.td2_table td{
	padding:0;
	border-bottom:1px solid #000;
	border-right:1px solid #000;
}
.table_tr1_td1{
	width:15%;
	text-align: center;
}
.td3_table{
	border:0px;
	table-layout: fixed;
	border-collapse: collapse;
	margin:30px auto;
	width:90%;
	border-top:1px solid #000;
	border-left:1px solid #000;
	font:14px/35px 'microsoft yahei';
}
.td3_table td{
	padding:0;
	border-bottom:1px solid #000;
	border-right:1px solid #000;
}
.table_tr3_td1{
	width:15%;
	text-align: center;
}
.table_tr3_td2{
	width:85%;
	text-align: left;
}
.table_tr3_td2>jFiler-theme-default>jFiler-input-caption {
    display: block;
    float: left;
    height: 100%;
    /* padding-top: 7px; */
    padding-left: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.td4_table{
	border:0px;
	table-layout: fixed;
	border-collapse: collapse;
	margin:30px auto;
	width:90%;
	border-top:1px solid #000;
	border-left:1px solid #000;
	font:14px/35px 'microsoft yahei';
}
.td4_table td{
	padding:0;
	border-bottom:1px solid #000;
	border-right:1px solid #000;
}
.table_tr4_td1{
	width:15%;
	text-align: center;
}
.table_tr4_td2{
	width:85%;
	text-align: left;
}
.table_tr4_td2>jFiler-theme-default>jFiler-input-caption {
    display: block;
    float: left;
    height: 100%;
    /* padding-top: 7px; */
    padding-left: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.table_tr2_td1{
	width:15%;
	text-align: center;
}
.table_tr2_td2{
	width:35%;
	text-align: center;
}
.table_tr2_td3{
	width:15%;
	text-align: center;
}
.table_tr2_td4{
	width:35%;
	text-align: left;
}
.table_tr1_td2>input{
	display: block;
    width: 94%;
    height: 35px;
    text-align: left;
    padding: 0 3%;
    margin: 0;
    border: 0;
}
.table_tr2_td2>select{
    max-width: 200px;
    text-align: left;
    padding: 2px 3px;
    border: 1px solid #878787;
    line-height: 24px;
    height: 26px;
    margin-left: 7%;
}
.table_tr2_td2>span{
	font-size: 13px;
    line-height: 15px;
    display: block;
    text-align: center;
    padding: 0 7.28%;
    vertical-align: middle;
}
.table_tr2_td4>select{
    max-width: 200px;
    text-align: left;
    padding: 2px 3px;
    border: 1px solid #878787;
    line-height: 24px;
    height: 26px;
    margin-left: 7%;
}
.table_tr2_td4>span{
	font-size: 13px;
    line-height: 15px;
    display: block;
    text-align: left;
    padding: 0 7.28%;
    vertical-align: middle;
}
.materials_title{
	margin:20px 0 10px 0;
	background:#799dd8;
	width:120px;
	margin-left:5%;
	text-align:left;
}
.materials_title>div:first-child{
	height: 5px;
    width: 5px;
    border-radius: 2.5px;
    vertical-align: middle;
    background: #fff;
    display: inline-block;
    margin: 0 4px 5px 5px;
}
.materials_title>div:last-child{
	line-height:25px;
	font-size:13px;
	color:#fff;
	display:inline-block;
}
.materials_tab_check{
	margin:0px auto;
	table-layout:fixed;
	border-collapse: collapse;
	width:90%;
	font-family: 'SimSun';
	line-height:20px;
	border-top: 1px solid #fff;
    border-left: 1px solid #fff;
}
.materials_tab_title_check{
	background:#799DD8;
}
.materials_tab_title_check td{
	color:#fff;
	font-size:14px;
}
.materials_tab_check td{
	text-align:center;
	padding:10px 3px;
	border-bottom:1px solid #fff;
	border-right:1px solid #fff;
	/* white-space:nowrap;
	-o-text-overflow:ellipsis;
	-moz-text-overflow: ellipsis;
    text-overflow:ellipsis;
    overflow:hidden;*/
}
.tab_title_check_td1{
	width:10%;
}

.materials_tab{
	margin:0px auto;
	table-layout:fixed;
	border-collapse: collapse;
	width:90%;
	font-family: 'SimSun';
	line-height:20px;
	border-top: 1px solid #fff;
    border-left: 1px solid #fff;
}
.materials_tab_title{
	background:#799DD8;
}
.materials_tab_title td{
	color:#fff;
	font-size:14px;
}
.materials_tab td{
	text-align:center;
	padding:10px 3px;
	border-bottom:1px solid #fff;
	border-right:1px solid #fff;
	/* white-space:nowrap;
	-o-text-overflow:ellipsis;
	-moz-text-overflow: ellipsis;
    text-overflow:ellipsis;
    overflow:hidden;*/
}
.tab_title_td1{
	width:10%;
}
.tab_title_td2{
	width:18%;
}
.tab_title_td3{
	width:17%;
}
.tab_title_td4{
	width:12%;
}
.tab_title_td5{
	width:10%;
}
.tab_title_td6{
	width:10%;
}
.tab_title_td7{
	width:12%;
}
.tab_title_td8{
	width:11%;
}
.materials_tab_content{
	
}
.materials_tab_content td{
	color:#000;
	font:13px/20px 'SimSun';
}
.materials_tab tr:not(:first-child):nth-child(odd){
	background:#F5F9FD;
}
.materials_tab tr:not(:first-child):nth-child(even){
	background:#EBEFF7;
}
.materials_tab tr:not(:first-child):hover{
	background:#dfebfe;
}
.materials_tab_add{
	height:40px;
	cursor:pointer;
}
.materials_tab_add>td:first-child{
	text-align:center;
}
.td_center{
	text-align: center;
    overflow: hidden;
    zoom: 1;
    padding-left: 8px;
}
.add_deliver_btn{
	width: 20px;
    height: 20px;
    background: #799dd8;
    display: inline-block;
    float: left;
}
.add_deliver_btn>div{
	background: white;
    height: 14px;
    position: relative;
    width: 2px;
    left: 9px;
    top: 3px;
}
.add_deliver_btn>div:after{
    background: white;
    content: "";
    height: 2px;
    left: -6px;
    position: absolute;
    top: 6px;
    width: 14px;
}
.add_deliver_word{
	line-height: 20px;
    color: #799dd8;
    display: inline-block;
    height: 20px;
    float: left;
    margin-left: 5px;
}
.dialog_bg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0.3;
    filter: alpha(opacity=0.3);
    background-color: #000000;
    z-index: 1;
    border: 1px solid #e5e5e5;
    display:none;
}
.dialog_div {
    background: #fff;
    border:1px solid #787878;
    position: absolute;
    left: 50%;
    margin-left: -255px;
    width: 510px;
    z-index: 2;
    top: 150;
    display: none;
    padding:20px 30px 40px 30px;
    font: 15px/25px 'microsoft yahei';
}
.dialog_top{
	margin:10px 0px;
	zoom:1;
	overflow:hidden;
}
.dialog_top>span:nth-of-type(1){
	display:inline-block;
	float:left;
	text-align:right;
	width:115px;
	color:#FF9999;
}
.dialog_top>span:nth-of-type(1) div,.dialog_top>span:nth-of-type(1) span{
	color:#FF9999;
}
.dialog_top>span:nth-of-type(2){
	display: inline-block;
    width: 390px;
    color: #FF9999;
    float: left;
    margin-left: 5px;
}
.dialog_item{
	margin:10px 0px;
	zoom:1;
	overflow:hidden;
}
.dialog_item>span{
	display:inline-block;
	float:left;
	text-align:right;
	width:115px;
}
.dialog_item>input{
	display:inline-block;
	margin-left:5px;
	width:375px;
	float:left;
	padding:0 5px;
	text-align:left;
	line-height: 25px;
}
.title_left>span,.title_left>div{
	float:right;
}
div.justify{
	display:inline-block;
	text-align: justify;
	width:65px;
	font-size:15px;
	color:#333;
	height:25px;
	text-justify:inter-ideograph;
}
div.justify > span { 
	display: inline-block;/* Opera */; 
	padding-left: 100%; 
}
.bottom_btn_group{
	margin:40px 0 0 0;
    text-align: center;
}
.bottom_btn_group>div{
	display: inline-block;
	width: 80px;
    line-height: 30px;
    color: #fff;
    border-radius: 3px;
    font-size: 14px;
    text-align: center;
    font-family: 'microsoft yahei';
    margin:0 20px;
    cursor:pointer;
}
.dialog_cancelbtn{
	background:#A0A0A0;
}
.dialog_addbtn{
	background:#41C555;
}
.dialog_delbtn{
	background:#FF561B;
}
.reason_parent{
	margin: 20px auto;
	display:none;
}
.div_testarea {
    display: block;
    margin: 0px auto;
    height: 60px;
    width: 88%;
    padding: 1%;
    font: 13px/20px 'SimSun';
    border: 1px solid #878787;
}
.btns_group{
	text-align: center;
    overflow: hidden;
    margin: 40px auto 0 auto;
    zoom: 1;
    width: 90%;
}
.btns_group>div{
	display: inline-block;
	width: 80px;
    line-height: 30px;
    color: #fff;
    border-radius: 3px;
    font-size: 14px;
    text-align: center;
    font-family: 'microsoft yahei';
    margin:0 20px;
    cursor:pointer;
}
.submit_div{
	background:#43C753;
}
.cancel_div{
	background:#A0A0A0;
}
