/**流程列表样式开始**/
.td2_div1{
	text-align:center;
	margin:20px auto;
	color:#000;
	font:20px/30px 'SimSun';
	font-weight:700;
}
.selectpicker .clear{
	top: -4px;
}
.td2_table0{
	border:0px;
	border-collapse: collapse;
	margin:30px auto;
	width:100%;
	border-top:1px solid #878787;
	border-left:1px solid #878787;
}
.td2_table0 td{
	text-align:left;
	font:14px/30px 'SimSun';
	padding:10px 10px 10px 5px; 
	border-bottom:1px solid #878787;
	border-right:1px solid #878787;
}
.table0_tr1{
	height:40px;
}
.table0_tr1_td1{
	width:1%;
	min-width:130px;
}
.table0_tr1_td2{
	width:99%;
}
.table0_tr1_td2 select{
	height:30px;
	min-width:100px;
	padding:3px;
	max-width:500px;
}
.table0_tr2_td1{
	width:1%;
	min-width:130px;
}
.table0_tr2_td2{
	width:99%;
	text-align:left;
}
.td2_table1{
	border:0px;
	border-collapse: collapse;
	margin:0px auto;
	width:100%;
	border-top:1px solid #878787;
	border-left:1px solid #878787;
}
.td2_table1 td{
	border-bottom:1px solid #878787;
	border-right:1px solid #878787;
}
.td2_table1 input{
	height:25px;
	width:90%;
	text-align:center;
}
.table1_tr1{
	height:40px;
}
.table1_tr1_td1{
	width:25%;
	text-align:center;
	color:#000;
	font:14px/30px 'SimSun';
}
.table1_tr1_td2{
	width:25%;
	text-align:center;
	color:#000;
	font:14px/30px 'SimSun';
}
.table1_tr1_td3{
	width:25%;
	text-align:center;
	color:#000;
	font:14px/30px 'SimSun';
}
.table1_tr1_td4{
	width:12%;
	text-align:center;
	color:#000;
	font:14px/30px 'SimSun';
}
.table1_tr1_td5{
	width:8%;
	text-align:center;
	color:#000;
	font:14px/30px 'SimSun';
}
.table1_tr1_td6{
	width:5%;
	text-align:center;
	min-width:40px;
	text-align:center;
	color:#000;
	font:14px/30px 'SimSun';
}
.table1_tr2{
	height:40px;
}
.table1_tr2_td1{
	text-align:center;
	color:#000;
	font:14px/30px 'SimSun';
}
.table1_tr2_td2{
	text-align:center;
	color:#000;
	font:14px/30px 'SimSun';
}
.table1_tr2_td3{
	text-align:center;
	color:#000;
	font:14px/30px 'SimSun';
}
.table1_tr2_td4{
	text-align:center;
	color:#000;
	font:14px/30px 'SimSun';
}
.table1_tr2_td5{
	text-align:center;
	color:#000;
	font:14px/30px 'SimSun';
}
.table1_tr2_td6{
	text-align:center;
	min-width:40px;
	text-align:center;
	color:#000;
	font:14px/30px 'SimSun';
}
.table1_tr2_td6 img{
	width:18px;
	vertical-align:middle;
	cursor:pointer;
}
.div_btn{
	
}
.div_btn img{
	border: none; 
	height:35px;
	margin-top:20px;
	cursor:pointer;
}
/**新建任务单流程样式结束**/

