.ui-dialog{
	padding:0;
	border-bottom-right-radius:2px;
    border-bottom-left-radius:2px;
    border-top-right-radius:2px;
    border-top-left-radius:2px;
}
.ui-dialog-titlebar{
	border: 0;
    background: white;
    border-bottom: 1px solid #d3d3d3;
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
}
.ui-dialog-title{
	font-family: Microsoft Yahei;
    font-size: 15px;
}
.ui-button-icon-only .ui-button-text{
	padding:0;
}