/****反馈列表样式开始***/
.div_title{
	text-align: center;
    margin: 30px auto 10px auto;
    color: #000;
    font: 25px/30px 'Microsoft yahei';
}
.add_feedback_btn_div{
	text-align:right;
	margin:5px auto;
}
.add_feedback_btn_div a{
	display:inline-block;
	width:90px;
	margin-right:10px;
	cursor:pointer;
	text-decoration:none;
	color:#fff;
	background:#2BABFF;
	text-align:center;
	font: 14px/28px 'Microsoft yahei';
	border-radius:3px;
}
.add_feedback_btn_div a:hover{
	background:#279ce8;
}
.div_dashed{
	margin: 5px auto;
	border-bottom: 1px dashed #2ABDFF;
	width:100%;
}
.feedback_item{
	font: 15px/40px 'Microsoft yahei';
	border-bottom:1px solid #F0F4F7;
	overflow: hidden;
    zoom: 1;
}
.feedback_item:hover {
    background: #D8EDFF;
}
.feedback_title{
	float:left;
	width:450px;
	 white-space: nowrap;
    -o-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    margin:0 30px 0 120px;
    cursor:pointer;
}
.feedback_date{
	float:left;
	width:85px;
	cursor:pointer;
}
.feedback_item a{
	float:right;
	margin:0px 12px;
	cursor:pointer;
	color:#2ABDFF;
	text-decoration:none;
	text-align:center;
	outline:none;
}
.feedback_item a:hover{
	text-decoration:underline;
}
.div_line{
	float:right;
	width:1px;
	margin:13px 0px 0 0px;
	height:15px;
	background:#2ABDFF;
}
.page_div{
	margin: 20px 5px 20px 0;
	text-align:right;
}
.page_div>div{
	display:inline-block;
	margin:0 5px;
	font: 14px/20px 'Microsoft yahei';
}
.page_normal{
	color:#000;
}
.page_press{
	color:#6875FF;
	cursor:pointer;
}
.no_feedback_div{
	text-align: center;
    margin: 50px auto;
    font: 15px/30px 'Microsoft yahei';
}
.feedback_list_common{
	margin: 35px auto;
}
.feedback_item_common{
	margin:0 auto;
	font: 15px/36px 'Microsoft yahei';
    border-bottom: 1px solid #e5e5e5;
    overflow: hidden;
    zoom: 1;
    cursor:pointer;
}
.feedback_item_common:hover{
	background:#D8EDFF;
}
.feedback_item_common>div{
	float: left;
}
.point_notread{
	background: #f00;
}
.feedback_item_common>div:nth-of-type(1){
	width: 10px;
    height: 10px;
    border-radius: 5px;
    margin-left: 120px;
    position: relative;
    top: 13px;
}
.feedback_item_common>div:nth-of-type(2){
    width: 350px;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left:10px;
}
.feedback_item_common>div:nth-of-type(3){
	width: 85px;
	margin:0 30px;
}
.feedback_item_common>div:nth-of-type(4){
	width: 120px;
	white-space: nowrap;
    -o-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}
/****反馈列表样式列表****/
/****反馈详情样式开始****/
.div_title1{
	text-align: center;
    margin: 10px auto 10px auto;
    color: #000;
    font: 25px/30px 'Microsoft yahei';
    font-weight: 500;
}
.div_title2{
	width:500px;
	text-align: center;
    margin: 10px auto 10px auto;
    color: #000;
    font: 18px/20px 'Microsoft yahei';
}
.del_feedback_div_img{
	background-image: url(../images/del_btn_normal.png);
	height:22px;
	width:22px;
	border:0px;
	position:relative;
	left:835px;
}
.del_feedback_div_img:hover{
	background-image: url(../images/del_btn_hover.png);
	height:22px;
	width:22px;
	border:0px;
	position:relative;
	left:835px;
}
.del_feedback_div_img:active{
	background-image: url(../images/del_btn_press.png);
	height:22px;
	width:22px;
	border:0px;
	position:relative;
	left:835px;
}
.div_dashed1{
	margin: 15px 0 30px 0;
	border-bottom: 1px dashed #2ABDFF;
	width:100%;
}
.feedback_detail_content{
	margin:5px auto;
	text-align:left;
	width:600px;
	 font: 16px/30px 'Microsoft yahei';
}
.feedback_detail_bottom_div{
	margin:25px 0 40px 0;
	overflow: hidden;
    zoom: 1;
}
.feedback_detail_bottom{
	width:200px;
	float:right;
	margin-right:38px;
	font: 15px/20px 'Microsoft yahei';
}
.feedback_detail_bottom>div{
	text-align:center;
}
.feedback_file_num{
	background:#D8EDFF;
	padding:0 0 0 40px;
	font: 17px/30px 'Microsoft yahei';
}
.filist_img{
	margin:10px 40px;
	overflow: hidden;
	zoom:1;
}
.filist_img>div{
	
}
.filist_img a{
	cursor:pointer;
	text-decoration: none;
	outline: none;
	font: 15px/30px 'Microsoft yahei';
}
.filist_img a:hover{
	text-decoration: underline;
}
.cut_line{
	height:30px;
	background: #FAFAFA;
	border-top:1px solid #d2d2d2;
	border-bottom:1px solid #d2d2d2;
}
.feedback_comment_areatext{
	display:block;
	resize: none;
	width:94%;
	height:80px;
	margin:20px auto 8px auto;
	border:1px solid #c9c9c9;
	padding:8px;
	border-radius:3px;
	outline: none;
}
.feedback_comment_btn_div{
	text-align:right;
}
.feedback_comment_btn_div>div{
	display:inline-block;
	margin-right:18px;
	width:85px;
	text-align:center;
	font: 15px/25px 'Microsoft yahei';
	background:#F6B164;
	cursor:pointer;
}
.feedback_comment_btn_div>div:hover{
	background:#dc8436;
}
.comment_list{
	margin:20px auto;
}
.comment_item{
	 border-top:1px solid #d2d2d2;
}
.comment_title{
	width:93%;
	margin:15px auto 10px auto;
	overflow: hidden;
	zoom:1;
}
.comment_name{
	display:inline-block;
	font: 15px/15px 'Microsoft yahei';
	color:#3a75c5;
}
.comment_time{
	display:inline-block;
	margin-left:10px;
	font: 15px/15px 'Microsoft yahei';
}
.comment_content{
	width:93%;
	margin:0px auto 5px auto;
	font: 15px/18px 'Microsoft yahei';
}
.comment_handel{
	width:93%;
	margin:5px auto 5px auto;
	text-align:right;
}
.comment_handel a{
	display:inline-block;
	margin-left:5px;
	font: 14px/14px 'Microsoft yahei';
	text-decoration: none;
	outline: none;
	cursor:pointer;
	color:#2ABDFF;
}
.comment_handel>div{
	display:inline-block;
	margin-left:5px;
	background:#2ABDFF;
	width:1px;
	height:10px;
}
.reply_list{
	margin:10px auto;
	width:93%;
}
.reply_item{
	
}
.reply_title{
	overflow: hidden;
	zoom:1;
	margin:5px 0 5px 40px;
}
.reply_name{
	display:inline-block;
	font: 14px/14px 'Microsoft yahei';
}
.reply_name>span:nth-of-type(1){
	display:inline-block;
	color:#3a75c5;
	margin-right:5px;
}
.reply_name>span:nth-of-type(2){
	display:inline-block;
	color:#3a75c5;
	margin-left:5px;
}
.reply_time{
	display:inline-block;
	margin-left:10px;
	font: 14px/14px 'Microsoft yahei';
}
.reply_content{
	margin: 0  0 5px 40px;
	font: 14px/16px 'Microsoft yahei';
}
.reply_handel{
	margin:5px auto 5px auto;
	text-align:right;
}
.reply_handel a{
	display:inline-block;
	margin-left:5px;
	font: 14px/14px 'Microsoft yahei';
	text-decoration: none;
	outline: none;
	cursor:pointer;
	color:#2ABDFF;
}
.reply_handel>div{
	display:inline-block;
	margin-left:5px;
	background:#2ABDFF;
	width:1px;
	height:10px;
}
.feedback_reply_areatext_div{
	width: 93%;
    margin: 5px auto;
	overflow: hidden;
	zoom:1;
	text-align:right;
}
.feedback_reply_areatext{
	display:block;
	resize: none;
	height:80px;
	margin:0 0 0 40px;
	width: 92.8%;
	border:1px solid #c9c9c9;
	padding:8px;
	border-radius:3px;
	outline: none;
}
.feedback_reply_btn_div{
	margin:5px auto;
	text-align:right;
	overflow: hidden;
    zoom: 1;
}
.feedback_reply_btn_div>div{
	font: 13px/23px 'Microsoft yahei';
	width:80px;
	margin:0 5px;
	display:inline-block;
	border:1px solid #c9c9c9;
	text-align:center;
	border-radius:2px;
	cursor:pointer;
}
.feedback_reply_btn_div>div:nth-of-type(1){
	color:#fff;
	background:#2BA2FF;
}
.feedback_reply_btn_div>div:nth-of-type(1):hover{
	background:#279ce8;
}
.feedback_reply_btn_div>div:nth-of-type(2){
	margin-right:0px;
}
.feedback_reply_btn_div>div:nth-of-type(2):hover{
	background:#E5E5E5;
}
/****反馈详情样式结束****/
/****发布反馈样式结束****/
.feedback_border{
	width:90%;
	margin:20px auto;
	border:1px solid #c9c9c9;
}
.feedback_title_input{
	display:block;
	outline: none;
	border: 1px dashed #2ABDFF;
	width:60%;
	margin:20px auto;
	font: 17px/40px 'Microsoft yahei';
	text-align:center;
	padding:0 10px;
}
input::-ms-input-placeholder{text-align: center;}
input::-webkit-input-placeholder{text-align: center;}
.div_dashed2{
	margin: 5px auto;
	border-bottom: 1px dashed #2ABDFF;
	width:90%;
}
.feedback_content_textarea{
	border:none;
	resize: none;
	outline: none;
	display:block;
	height:250px;
	width:80%;
	margin:20px auto;
	padding:5px;
	font: 15px/20px 'Microsoft yahei';
}
.feedback_publisher_div{
	margin:20px auto 40px auto;
	overflow: hidden;
    zoom: 1;
}
.feedback_publisher_div input{
	float:right;
	margin-right:38px;
	width:150px;
	padding:0 5px;
	font: 15px/35px 'Microsoft yahei';
	outline: none;
	border: 1px dashed #2ABDFF;
	text-align:center;
}
.feedback_btngroup_div{
	width:90%;
	margin:20px auto;
	text-align:right;
	overflow: hidden;
    zoom: 1;
}
.feedback_btngroup_div>div{
	font: 14px/25px 'Microsoft yahei';
	width:80px;
	margin:0 5px;
	display:inline-block;
	border:1px solid #c9c9c9;
	text-align:center;
	border-radius:2px;
	cursor:pointer;
}
.add_file_div{
	color:#2BA2FF;
	background:#fff;
}
.add_file_div:hover{
	color:#fff;
	background:#2BA2FF;
}
.add_feedback_div{
	color:#fff;
	background:#2BA2FF;
}
.add_feedback_div:hover{
	background:#279ce8;
}
.cancel_feedback_div{
	color:#666;
	background:#fff;
}
.cancel_feedback_div:hover{
	background:#e5e5e5;
}
.communicate_file_publish_list{
	margin:10px 40px 10px 40px;
	zoom:1;
	overflow: hidden;
}
.communicate_file_publish_list>div{
	font: 14px/25px 'Microsoft yahei';
}
.communicate_file_publish_list a{
	display:inline-block;
	margin-left:10px;
	text-decoration: none;
	outline: none;
}
.communicate_file_publish_list a:hover{
	text-decoration: underline;
}
.communicate_file_num{
	background:#D8EDFF;
	padding:0 0 0 40px;
	font: 17px/30px 'Microsoft yahei';
}
/****发布反馈样式结束****/