/**登陆样式开始**/
body{
	background:#fff;
	margin:0px;
	padding:0px;
}
.logo_div{
	width: 1123px;
    text-align: left;
    margin: 0 auto;
    overflow: hidden;
    zoom:1;
}
.logo_div a{
   float: left;
}
.logo_div img{
	height:83px;
	float: left;
	border:none;
}
.login_div{
	position: absolute;
    left:0;
    top:83px;
    width:100%;
    height:476px;
    /****background:#799DD8;***/
   	background: url(../images/allback.png) center no-repeat;
    min-width: 1110px;
}

.container{
    height:476px;
    background:url(../images/allback.png) 0px 0px no-repeat;
    background-position: center;
}
.login_div0{
	width:1110px;
	margin:0 auto;
}
.login_div1{
	position:relative;
	height:476px;
	
}
.login_div2{
	position:absolute;
	top:61px;
	left:62%;
	height:354px;
	width:379px;
	background:#fff;
}
.login_img_title{
	display:block;
	margin:45px auto 25px auto;
	height:35px;
}
.login_error{
	margin:0px auto;
	width:317px;
	height:20px;
	font:14px/15px 'Microsoft yahei';
	color:#f00;
	word-break:break-all;
}
.login_div_name{
	position:relative;
	margin:0px auto 10px auto;
	height:39px;
	width:317px;
}
.login_div_name img{
	height:100%;
	width:100%;
	border:0;
	z-index:-1;
}
.login_div_name input{
	position:absolute;
	right:3px;
	top:3px;
	height:33px;
	width:275px;
	font:14px 'Microsoft yahei';
	padding:0px 5px;
	border:0;
	background:transparent;
	z-index:10;
}
.login_lable{
	color:#666666;
	margin-left:31px;
	font:13px 'Microsoft yahei';
	cursor:pointer;
}
.login_lable input{
	position: relative;
	top:-2px;
	vertical-align:middle;
}
.findpassword{
	color:#666666;
	margin-left:180px;
	font:13px 'Microsoft yahei';
	outline: none;
	text-decoration: none;
}
.findpassword:hover{
	text-decoration: underline;
}
.login_img_btn{
	display:block;
	margin:10px auto;
	height:40px;
	cursor:pointer;
}
.login_bottom{
	position: absolute;
    left: 0;
    top: 590px;
    width: 100%;
    font: 14px/20px Arial,Verdana,"\5b8b\4f53";
    color: #666;
    text-align:center;
}
.findpw-top{
	background:#fff;
	width:1123px;
}
.findpw-top a{
	display:inline-block;
	margin-top:35px;
	margin-left:80px;
	vertical-align: bottom
}
.findpw-top a{
	height:83px;
}
.findpw-body{
	background:#fff;
	height:100%;
	width: 1123px;
	margin:0 auto;
}
.findpw-content{
	margin:0px auto;
	width:950px;
    background: #FAFAFA;
	font: 14px 'Microsoft yahei';
	border-top: 3px solid #01A1FF;
	border-left: 1px solid #787878;
	border-right: 1px solid #787878;
	border-bottom: 1px solid #787878;
}
.findpw-title{
	text-align:center;
	font-size: 25px;
    background: #fff;
	font-weight: bold;
	line-height:80px;
	border-bottom:1px solid #787878;
}
.findpw-div{
	margin: 50px 0 50px 300px;
    width: 470px;
    font: 15px/32px 'Microsoft yahei';
}
.data-div{
	margin:8px 0;
}
.data-div input{
	width:250px;
	height:32px;
	padding:0px 5px 
}
.data-div label{
	width:80px;
	text-align:right;
	display:inline-block;
}
.verificationcode{
	margin:8px 0;
}
.verificationcode label{
	width:80px;
	text-align:right;
	display:inline-block;
}
.verificationcode input{
	width:150px;
	height:32px;
	padding:0px 3px 
}
.verificationcode a{
	margin-left:8px;
	text-align:right;
	display:inline-block;
	vertical-align: bottom;
	line-height: 20px;
	text-decoration: none;
	color:#00A3FD;
}
.verificationcode span{
	vertical-align: bottom;
    display: inline-block;
    margin-left: 10px;
    line-height: 20px;
}
.verificationcode img{
	margin-left:5px;
	width: 85px;
    height: 25px;
    cursor: pointer;
    vertical-align: middle;
}
.findpw-btn1{
	font: 14px/35px 'Microsoft yahei';
    width: 250px;
    margin: 8px 3px 5px 80px;
    display: inline-block;
    border: 1px solid #c9c9c9;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
    color: #fff;
    background: #2BA2FF;
}
.findpw-btn2:hover{
	background:#279ce8;
}
.findpw-title1{
	margin:20px auto;
	text-align:center;
	font: 20px/32px 'Microsoft yahei';
}
.findpw-title1 span:nth-of-type(1){
	color:#7D7D7D
}
.findpw-title1 span:nth-of-type(2){
	color:#000;
}
.findpw-btn2{
	font: 14px/35px 'Microsoft yahei';
    width: 100px;
    margin: 8px 3px 5px 80px;
    display: inline-block;
    border: 1px solid #c9c9c9;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
    color: #fff;
    background: #2BA2FF;
}
.findpw-btn2:hover{
	background:#279ce8;
}
/**登陆样式结束**/

