/**流程列表样式开始**/
.td2_div1{
	padding:0px 0px 20px 0px;
	width:100%;
}
.td2_div1_1{
	width:90%;
	overflow:hidden;
	zoom:1;
	margin:0 auto;
}
.td2_div1_1 div{
	margin-top:10px;
	font: bolder 14px/25px 'SimSun';
}
.td2_div11_pass{
	float:left;
	margin-left:2px;
	color:#42c652;
}
.td2_div11_nopass{
	float:left;
	margin-left:2px;
	color:#FF4401;
}
.td2_div11_nodid{
	float:left;
	margin-left:2px;
	color:#5C5C5C;
}
.td2_div12_pass{
	float:left;
	margin-left:125px;
	color:#42c652;
}
.td2_div12_nopass{
	float:left;
	margin-left:125px;
	color:#FF4401;
}
.td2_div12_nodid{
	float:left;
	margin-left:125px;
	color:#5C5C5C;
}
.td2_div13_pass{
	float:left;
	margin-left:123px;
	color:#42c652;
}
.td2_div13_nopass{
	float:left;
	margin-left:123px;
	color:#FF4401;
}
.td2_div13_nodid{
	float:left;
	margin-left:122px;
	color:#5C5C5C;
}
.td2_div14_pass{
	float:left;
	margin-left:140px;
	color:#42c652;
}
.td2_div14_nopass{
	float:left;
	margin-left:140px;
	color:#5C5C5C;
}
.td2_div14_nodid{
	float:left;
	margin-left:140px;
	color:#5C5C5C;
}
.td2_div15_pass{
	float:right;
	margin-right:1px;
	color:#42c652;
}
.td2_div15_nopass{
	float:right;
	margin-right:1px;
	color:#FF4401;
}
.td2_div15_nodid{
	float:right;
	margin-right:1px;
	color:#5C5C5C;
}


.td2_div1_2{
	width:90%;
	overflow:hidden;
	zoom:1;
	margin:0 auto;
}
.td2_div1_2 div{
	float:left;
}
.td2_div2_img{
 	width:1%;
	min-width:28px;
}
.td2_div2_img img{
	width:28px;
}
.td2_div2_agree{
	float:left;
	width:20%;
	height:5px;
	background-color:#42C752;
	margin-top:10px;
}
.td2_div2_disagree{
	float:left;
	width:20%;
	height:5px;
	background-color:#FF4401;
	margin-top:10px;
}
.td2_div2_nodid{
	float:left;
	width:20%;
	height:5px;
	background-color:#E1EAEF;
	margin-top:10px;
}
.td2_div2_agree_c{
	float:left;
	width:10%;
	height:5px;
	background-color:#42C752;
	margin-top:10px;
}
.td2_div2_disagree_c{
	float:left;
	width:10%;
	height:5px;
	background-color:#FF4401;
	margin-top:10px;
}
.td2_div2_nodid_c{
	float:left;
	width:10%;
	height:5px;
	background-color:#E1EAEF;
	margin-top:10px;
}

.td2_div1_3{
	overflow:hidden;
	zoom:1;
	margin:0 auto;
	width:95%;
}
.td2_div1_3 div{
	color:#000;
	font:12px/15px 'SimSun';
}
.td2_div31{
	float:left;
	margin-left:5px;
}
.td2_div32{
	float:left;
	margin-left:109px;
}
.td2_div33{
	float:left;
	margin-left:109px;
}
.td2_div34{
	float:left;
	margin-left:109px;
}
.td2_div35{
	float:right;
	margin-right:3px;
}
.td2_div2{
	width:100%;
	overflow:hidden;
	zoom:1;
	margin:20px auto;
	border:1px solid #878787;
	padding:20px 0px;
}
.td2_div0{
	text-align:center;
	margin:0px auto;
	color:#000;
	font:20px/30px 'SimSun';
	font-weight:700;
}
.td2_div3{
	text-align:left;
	width:93%;
	padding:10px 0px;
	margin:10px auto;
	border:1px solid #878787;
}
.td2_div3_1{
	text-align:left; 
	margin-left:20px;
	margin-right:20px;
	color:#000;
	font:16px/20px 'SimSun';
	font-weight:700;
	word-break:break-all;
	overflow:hidden;
	zoom:1;
}
.td2_div3_11{
	float:left;
	width:5%;
	min-width:120px;
}
.td2_div3_12{
	float:left;
	width:95%;
}
.td2_div3_2{
	text-align:left; 
	margin-top:5px;
	margin-left:20px;
	margin-right:20px;
	color:#000;
	font:16px/20px 'SimSun';
	font-weight:700;
}
.td2_div3_2 a{
	font:16px/20px 'SimSun';
	text-decoration:none;
	outline:none;
}
.td2_div3_2 a:hover{
	text-decoration:underline;
}
.td2_table2_div{
	width:93%;
	text-align:right;
	margin:20px auto 5px auto;
	font:16px/30px 'SimSun';
}
.td2_table2_div span{
	margin-right:10px;
}
.device_detail{
	text-decoration: none;
	outline:none;
}
.file_detail{
	text-decoration: none;
	outline:none;
}
.file_detail:hover{
	text-decoration:underline;
}
.td2_table2{
	border-collapse: collapse;
	width:93%;
	text-align:center;
	margin:0px auto;
	font:14px/20px 'SimSun';
	border-top:1px solid #878787;
	border-left:1px solid #878787;
}
.td2_table2 td{
	text-align:center;
	padding:10px;
	border-right:1px solid #878787;
	border-bottom:1px solid #878787;
}
.td2_div4{
	text-align:center;
	margin:20px auto;
	color:#000;
	font:20px/30px 'SimSun';
	font-weight:700;
}
.td2_div5{
	width:100%;
	margin:20px auto;
	border:1px solid #878787;
	padding:0px 0px;
}
.td2_table0{
	border-collapse: collapse;
	margin:20px auto;
	width:93%;
	border-top:1px solid #878787;
	border-left:1px solid #878787;
}
.td2_table0 td{
	text-align:left;
	font:14px/20px 'SimSun';
	padding:10px 10px 10px 10px; 
	border-bottom:1px solid #878787;
	border-right:1px solid #878787;
}
.td2_table00{
	border-collapse: collapse;
	margin:20px auto;
	width:100%;
	border-top:1px solid #878787;
	border-left:1px solid #878787;
}
.td2_table00 td{
	text-align:left;
	font:14px/30px 'SimSun';
	padding:10px 10px 10px 10px; 
	border-bottom:1px solid #878787;
	border-right:1px solid #878787;
}
.table0_tr1_td1{
	width:1%;
	min-width:175px;
}
.table0_tr1_td2{
	width:99%;
	text-align:left;
}
.table0_tr1_td2 a{
	text-decoration: none;
	font:14px/25px 'SimSun';
}
.table0_tr1_td2 a:hover{
	text-decoration:underline;
}
.td2_table1{
	margin:20px auto;;
	width:93%;
	color:#000;
	font:14px/30px 'SimSun';
	border-collapse: collapse;
	border-left:1px solid #878787;
	border-top:1px solid #878787;
}
.td2_table11{
	margin:20px auto;;
	width:100%;
	color:#000;
	font:14px/30px 'SimSun';
	border-collapse: collapse;
	border-left:1px solid #878787;
	border-top:1px solid #878787;
}
.td2_table11 td{
	border-right:1px solid #878787;
	border-bottom:1px solid #878787;
}
.td2_table1 td{
	border-right:1px solid #878787;
	border-bottom:1px solid #878787;
}
.table1_tr0_td1{
	text-align:center;
	width:1%;
	min-width:90px;
	color:#000;
}
.table1_tr0_td2{
	width:99%;
	text-align:left;
	padding:10px;
	font:13px/20px 'SimSun';
}
.table1_tr0_td2 input{
	height:20px;
	width:140px;
	padding:0px 5px;
}
.div_padding{
	text-align:left;
	padding:5px 0px;
}
.div_padding span{
 	margin-left:42px;
 	height:20px;
	color:#f00;
}
.div_padding input{
	height:20px;
	width:140px;
	padding:0px 5px;
}
.div_padding img{
	border: none; 
	height:15px;
	margin-left:20px;
	vertical-align:middle;
	margin-top:-3px;
	cursor:pointer;
}
.table1_tr1{
	height:40px;
}
.table1_tr1_td1{
	text-align:center;
	width:1%;
	min-width:80px;
	color:#000;
}
.table1_tr1_td2{
	width:99%;
	text-align:left;
	padding:10px;
}
.table1_tr1_td2 input{
	height:20px;
	width:380px;
	padding:2px 5px;
}
.table1_tr1_td2 span{
	margin-left:82px;
 	height:20px;
	color:#f00;
	font:13px 'SimSun';
}
.table1_tr2{
	height:40px;
}
.table1_tr2_td1{
	text-align:center;
	width:1%;
	min-width:80px;
	color:#000;
}
.table1_tr2_td2{
	width:99%;
	text-align:left;
	padding:10px;
}
.table1_tr2_td2 span{
	display:inline-block;
	height:20px;
	min-width:120px;
	font:13px/20px 'SimSun';
}
.table1_tr3{
	
}
.table1_tr3_td1{
	text-align:center;
	width:1%;
	min-width:80px;
	color:#000;
}
.table1_tr3_td2{
	width:99%;
	text-align:left;
	padding:10px;
	word-wrap:break-word;
	font:13px/18px 'SimSun';
	word-break:break-all;
}
.red_error{
	margin-left:250px;
	font:13px/20px 'SimSun';
	color:#f00;
}
.aog_time{
	height:25px;
	padding-left:10px
}
.section-white8 {
    float: left;
    min-width: 400px;
    width: 50%;
    background: #fff;
    font: 14px/30px 'SimSun';
}
/**新建任务单流程样式结束**/
