/****锟斤拷锟斤拷锟斤拷志锟斤拷式锟斤拷始***/
.td1_work{
	margin:20px auto;
  	width:1092px;
  	text-align:center;
  	border:1px solid #E2E6E7;
  	background:#fff;
  	padding:30px 0px;
}
.device_top_btns{
	position: absolute;
	margin:0 0 10px 28px;
}
.td1_div0{
    margin: 20px auto;
    text-align: center;
    font: bold 36px/40px 'KaiTi';
}
.td2_div3{
	text-align:right;
	width:95%;
	overflow:hidden;
	zoom:1;
	margin:0px auto 10px auto;
}
.input-hide-time {
    float: right;
    width: 0px;
    display: inline-block;
    padding: 0px;
    height: 0px;
    border: 0px;
    position: relative;
    top: 25px;
    left: 5px;
    z-index: -100;
}
.input-show-time {
	float:right;
	margin-left:5px;
	text-align: center;
    width: 90px;
	font:14px/23px 'microsoft yahei';
	border: 1px solid #c9c9c9;
	background:#DCF4FF;
}
.td2_div3 img{
	height: 25px;
    float: right;
    margin-left: 5px;
    position: relative;
    top: 1px;
    cursor: pointer;
}
.td2_div3 div{
	float:right;
	width:40px;
	text-align:center;
	margin-left:5px;
	font:14px/25px 'microsoft yahei';
}
.clearfloat_div {
    clear: both;
}
.title_top{
	text-align:right;
	width:95%;
	margin:0px auto 10px auto;
    font:15px/20px 'microsoft yahei';
    position: relative;
    z-index: 1;
}
.title_top_name{
	float:left;
	width:60px;
}
.title_top_value{
	float:left;
	height:20px;
	font:14px/19px 'microsoft yahei';
	border-bottom:1px solid #787878;
	min-width:120px;
	max-width:650px;
	text-align:center;
	padding:0 5px;
	white-space: nowrap;
    -o-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}
.title_top label{
	float:right;
	margin-left:5px;
	cursor:pointer;
}
.title_top input[type="radio"]{
	position:relative;
	top:2px;
	margin-right:5px;
}
.title_top_search{
	float:right;
	margin-left: 8px;
    margin-top: 2px;
	font:13px/20px 'microsoft yahei';
	width:45px;
	background:#B3DFF9;
	cursor:pointer;
	text-align:center;
	border-radius:3px;
}
.title_top_search2 {
  	float: right;
    margin-left: 8px;
    margin-top: 2px;
    font: 13px/18px 'microsoft yahei';
    width: 65px;
    background: #B3DFF9;
    cursor: pointer;
    text-align: center;
    border-radius: 3px;
    color: #000;
    border: 1px solid #c9c9c9;
}
.title_top_filter{
	float:right;
	margin-left: 8px;
	margin-top: 2px;
	font:13px/20px 'microsoft yahei';
	width:45px;
	background:#B2F2BA;
	cursor:pointer;
	text-align:center;
	border-radius:3px;
}
.title_top_export{
	float:right;
	width:22px;
	cursor:pointer;
	margin-left: 15px;
}
/**锟皆伙拷锟斤拷锟斤拷式锟斤拷始**/
.dialog_work_bg{
	width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0.3;
    filter: alpha(opacity=0.3);
    background-color: #000000;
    z-index:3;
    border: 1px solid #e5e5e5;
}
.dialog_search{
	border: 1px solid #2CABF4;
    width: 500px;
    background: #fff;
    position: fixed;
    top:50%;
    left: 50%;
    margin-top:-50px;
    margin-left: -250px;
    z-index: 4;
    padding: 0 0 20px 0;
    display: none;
}
.dialog_close{
    float: right;
    height: 16px;
    width: 16px;
    border: 0px;
    margin:10px 10px 0 0;
    background-image: url(../images/black_close.png);
    cursor:pointer;
    clear:right;
}
.dialog_close:hover{
    background-image: url(../images/red_close.png);
}
.dialog_search_filter{
	zoom: 1;
    overflow: hidden;
    margin-top: 40px;
}
.dialog_search_filter input{
	float: right;
    width: 100px;
    height:25px;
    border: 0px;
    padding: 0 32px 0 6px;
    font: 13px/25px 'microsoft yahei';
    border: 1px solid #A0A0A0;
}
.dialog_search_filter>div:nth-of-type(1){
	float: right;
    height: 19px;
    width: 18px;
    position: relative;
    right: 23px;
    top: 3px;
    border: 0px;
    background-image: url(../images/work_searh.png);
    cursor: pointer;
}
.dialog_search_filter>div:nth-of-type(2){
    float: right;
    height: 19px;
    width: 1px;
    background: #959595;
    position: relative;
    right: 27px;
    top: 3px;
}
.dialog_search_row{
	width:440px;
	margin:20px auto 0 auto;
}
.dialog_search_projectitem{
	width:180px;
	margin:0 18px;
	padding:0 2px;
	display:inline-block;
	font:14px/25px 'microsoft yahei';
	text-align:left;
	white-space: nowrap;
    -o-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor:pointer;
    background:#fff;
}
.dialog_search_projectitem:hover{
	background:#c5e1ff;
}
.dialog_search_useritem{
	width:70px;
	margin:0 18px;
	padding:0 2px;
	display:inline-block;
	font:14px/25px 'microsoft yahei';
	text-align:left;
	white-space: nowrap;
    -o-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor:pointer;
}
.dialog_search_useritem:hover{
	background:#c5e1ff;
}
#dialog_filter_project .dialog_filter_checkAll{
	margin: 40px 0 0px 50px;
    overflow: hidden;
}
#dialog_filter_user .dialog_filter_checkAll{
	margin: 40px 0 0px 40px;
    overflow: hidden;
}
.dialog_filter_btn1{
	float: left;
    font: 14px/20px 'microsoft yahei';
    margin-left: 8px;
    cursor:pointer;
}
.dialog_filter_btn2{
	float: left;
    font: 14px/20px 'microsoft yahei';
    margin-left: 10px;
    color:#fff;
    background:#44A3ED;
     cursor:pointer;
     text-align:center;
     width:50px;
     border-radius:3px;
}
.dialog_filter_useritem{
	width:90px;
	margin:0 8px;
	padding:0 2px;
	display:inline-block;
	font:14px/20px 'microsoft yahei';
	text-align:left;
    cursor:pointer;
}
.dialog_filter_useritem:hover{
	background:#c5e1ff;
}
.dialog_filter_useritem div{
	float: left;
    margin-left: 8px;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
     width: 64px;
}
.dialog_filter_projectitem{
	width:180px;
	margin:5px 18px;
	padding:0 2px;
	display:inline-block;
	font:14px/20px 'microsoft yahei';
	text-align:left;
    cursor:pointer;
    background:#fff;
}
.dialog_filter_projectitem:hover{
	background:#c5e1ff;
}
.dialog_filter_projectitem div{
	float: left;
    margin-left: 8px;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 154px;
}
.dialog_workday{
	border: 1px solid #2CABF4;
    width: 500px;
    background: #fff;
    position: fixed;
    top:50%;
    left: 50%;
     margin-top: -50px;
    margin-left: -250px;
    z-index: 4;
    padding: 0 0 20px 0;
    display: none;
}
.dialog_workday_title{
	zoom:1;
	overflow: hidden;
}
.dialog_workday_title>div{
    float: right;
    height: 16px;
    width: 16px;
    border: 0px;
    margin:10px 10px 10px 0;
    background-image: url(../images/black_close.png);
    cursor:pointer;
}
.dialog_workday_title>div:hover{
    background-image: url(../images/red_close.png);
}
.dialog_workday_list{
	max-height: 200px;
	overflow-y:auto;
	margin-bottom:10px;
}
.dialog_workday_item{
	width: 400px;
    margin: 0 auto;
    text-align: left;
    margin-left: 55px;
    font: 15px/25px 'microsoft yahei';
}
.item_title1{
	float:left;
	width:50px;
}
.item_pname{
	float:left;
	width:152px;
	white-space: nowrap;
    -o-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}
.item_title2{
	float:left;
	width: 50px;
    margin-left: 15px;
}
.item_hours{
	float:left;
	width:60px;
	text-align: center;
	position: relative;
    left: -5px;
}
.item_title3{
	float:left;
	width:20px;
}
.dialog_workday_date{
	font: 15px/18px 'microsoft yahei';
    margin: 10px 0 10px 55px;
    text-align: left;
    overflow: hidden;
}
.dialog_workday_date div:nth-of-type(1){
	color: #FF9999;
    float: left;
    width: 50px;
}
.dialog_workday_date div:nth-of-type(2){
	font: 15px/18px 'microsoft yahei';
    width: 348px;
    color: #FF9999;
    float: left;
}
.dialog_workday_content{
	font: 15px/18px 'microsoft yahei';
    margin: 10px 0 10px 55px;
    text-align: left;
    overflow: hidden;
}
.dialog_workday_content>div:nth-of-type(1){
	float:left;
	width:50px;
}
.dialog_workday_content>div:nth-of-type(2){
	float: left;
    display: block;
    max-height: 100px;
    width: 348px;
    padding: 0;
    font: 14px/20px 'microsoft yahei';
    overflow-y: auto;
}
.dialog_workday_remark{
	font: 15px/18px 'microsoft yahei';
    margin: 10px 0 10px 55px;
    text-align: left;
    overflow: hidden;
}
.dialog_workday_remark>div:nth-of-type(1){
	float:left;
	width:50px;
}
.dialog_workday_remark>div:nth-of-type(2){
	float: left;
    display: block;
    max-height: 100px;
    width: 348px;
    padding: 0;
    font: 14px/20px 'microsoft yahei';
    overflow-y: auto;
}
/**锟皆伙拷锟斤拷锟斤拷式锟斤拷锟斤拷**/
/***锟斤拷选锟斤拷锟斤拷式锟斤拷始**/
.chk_1 { 
	float:left;
    display: none; 
} 
.chk_1 + label {
	float:left;
	margin-left:0px;
    background-color: #FFF;
    border: 1px solid #C1CACA;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    display: block;
    position: relative;
    top:1px;
    cursor:pointer;
}
.chk_1:checked + label {
	padding: 0px;
	display: block; 
    background-color: #ECF2F7;
    border: 1px solid #92A1AC; 
    color: #243441;
}
.chk_1:checked + label:after {
    position: relative;
    content: '\2714';
    bottom: 2px;
    left: 3px;
    color: #758794;
    width: 100%;
    text-align: center;
    font-size: 14px;
    vertical-align: text-top;
}
/***锟斤拷选锟斤拷锟斤拷式锟斤拷锟斤拷**/

.td2_div2_parent{
	position:relative; z-index:1;
}
.td2_div2{
	width: 280px;
    border: 1px solid #c9c9c9;
    text-align: left;
    padding: 20px 30px 10px 30px;
    overflow: hidden;
    background: #fff;
    zoom: 1;
    font: 13px 'SimSun';
    position: absolute;
    z-index: 2;
    top: 10px;
    right: 28px;
    display: none;
}
.td2_div2_btns{
	text-align:left;
	zoom:1;
	overflow: hidden;
}

.td2_div2_btns>div:nth-of-type(1){
	float:left;
	font:15px/20px 'microsoft yahei';
	text-align:center;
	margin:0 10px 0 8px;
	cursor:pointer;
}
.td2_div2_btns>div:nth-of-type(2){
	float:left;
	background:#FAA553;
	font:15px/20px 'microsoft yahei';
	width:50px;
	border-radius: 3px;
	color:#fff;
	text-align:center;
	margin:0 10px;
	cursor:pointer;
}
.td2_div2_btns>div:nth-of-type(3){
	float:left;
	background:#32B16C;
	font:15px/20px 'microsoft yahei';
	width:50px;
	border-radius: 3px;
	color:#fff;
	text-align:center;
	margin:0 10px;
	cursor:pointer;
}
.td2_div2_usergroup{
	margin-top:10px;
	text-align:left;
	zoom:1;
	overflow: hidden;
}
.td2_div2_usergroup>div{
	margin:10px auto;
	zoom:1;
	overflow:hidden;
}
.chk_2 {
    display: none; 
} 
.chk_2 + label {
	float:left;
    background-color: #FFF;
    border: 1px solid #C1CACA;
    width: 14px;
    height: 14px;
    border-radius: 3px;
    display: block;
    position: relative;
    top:2px;
    cursor:pointer;
}
.chk_2:checked + label {
	padding: 0px;
	display: block; 
    background-color: #ECF2F7;
    border: 1px solid #92A1AC; 
    color: #243441;
}
.chk_2:checked + label:after {
    position: relative;
    content: '\2714';
    bottom: 3px;
    left: 2px;
    color: #758794;
    width: 100%;
    text-align: center;
    font-size: 14px;
    vertical-align: text-top;
}
.td2_div2_usergroup>div>div{
	float: left;
    margin-left: 5px;
    margin-right: 5px;
    font: 15px/20px 'microsoft yahei';
    width: 45px;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
}
.td2_div2_usergroup>div>div:nth-of-type(4){
	margin-right:0px;
}
.workreport_div{
	width:1037px;
	overflow-x:auto;
	text-align: left;
	margin:20px auto;
	padding: 37px 0 0 0;
	position:relative;
	top:-37px;
}
.workstatistics_div{
	width:1037px;
	overflow-x:auto;
	text-align: left;
	margin:20px auto;
	padding: 0;
}
.workreport_tab{
	border-top:1px solid #787878;
	border-left:1px solid #787878;
	margin:0px auto;
	border-collapse: collapse;
	white-space:nowrap;
}
.workreport_tab td{
	border-right:1px solid #787878;
	border-bottom:1px solid #787878;
	padding:3px 5px;
	white-space: nowrap;
	text-align:center;
	position:relative;
}
.workreport_tab tr:nth-of-type(1){
	background:#FDFBC9;
}
.workreport_tab tr:nth-of-type(2){
	background:#B8E6FF;
}
.workreport_tab tr td:nth-of-type(1){
	/* max-width:150px; */
	width:150px;
	white-space: nowrap;
    -o-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}
.workreport_tab tr td:not(:nth-of-type(1)){
	min-width:30px;
}
.workreport_tab tr:nth-of-type(1) td:nth-of-type(1){
	font:15px/20px 'SimSun';
	background:#787878;
}
.workreport_tab tr:nth-of-type(1) td:not(:nth-of-type(1)){
	font:16px/20px 'SimSun';
	font-weight: bold;
}
.workreport_tab tr:nth-of-type(2) td:nth-of-type(1){
	background:#80C26A;
	font:15px/20px 'SimSun';
	background:#787878;
}
.workreport_tab tr:nth-of-type(2) td:not(:nth-of-type(1)){
	font:16px/20px 'SimSun';
	font-weight: bold;
}
.workreport_tab tr:not(:nth-of-type(1)):not(:nth-of-type(2)) td{
	font:15px/25px 'SimSun';
}
.workreport_tab tr:not(:nth-of-type(1)):not(:nth-of-type(2)) td:not(:nth-of-type(1)){
	font:16px/25px 'SimSun';
	font-weight: bold;
}
.workstatistics_tab{
	border-top:1px solid #787878;
	border-left:1px solid #787878;
	margin:0px auto;
	border-collapse: collapse;
	white-space:nowrap;
}
.workstatistics_tab td{
	border-right:1px solid #787878;
	border-bottom:1px solid #787878;
	padding:3px 5px;
	white-space: nowrap;
	text-align:center;
	position:relative;
	font:16px/25px 'SimSun';
}
.workstatistics_tab tr td:nth-of-type(1){
	min-width:80px;
}
.workstatistics_tab tr:nth-of-type(1){
	background:#FDFBC9;
	height:40px
}
.workstatistics_tab tr:nth-of-type(1) td:nth-of-type(1){
	background:#787878;
}
.workstatistics_tab tr:not(:nth-of-type(1)) td:not(:nth-of-type(1)){
	font-weight: bold;
}
.workstatistics_tab tr:not(:nth-of-type(1)):nth-of-type(odd){
	background: #f0f0f0;
}
.workstatistics_tab tr:not(:nth-of-type(1)):nth-of-type(even){
	background: #fff;
}
/****锟斤拷锟斤拷一锟叫憋拷锟斤拷****/
.workreport_tab_lefttitle{
	position: relative;
    z-index: 2;
    top: 10px;
    left: 27px;
	border-left:1px solid #787878;
	border-top:1px solid #787878;
}
.workreport_tab_lefttitle_parent{
	position: absolute;
}
.workreport_tab_lefttitle2{
	position: absolute;
	 z-index: 1;
	 top: 10px;
    left: 27px;
    height:54px;
    background:#787878;
}
.workreport_tab_lefttitle >div{
	text-align:center;
	font: 15px/25px 'SimSun';
	padding: 3px 5px;
	border-right:1px solid #787878;
	border-bottom:1px solid #787878;
	white-space: nowrap;
    -o-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}
.workreport_tab_lefttitle >div:nth-of-type(1){
	font: 15px/20px 'SimSun';
    width: 0;
    height: 0;
    padding:0;
    border-right: 0;
    border-left: 162px solid transparent;
    border-top: 52px solid #FDFBC9;
}
.workreport_tab_lefttitle >div:nth-of-type(2){
	font: 15px/20px 'SimSun';
    width: 0;
    height: 0;
    padding:0;
     border-left: 0;
    border-right: 162px solid transparent;
    border-bottom: 52px solid #80C26A;
    position: absolute;
    top: 1px;
}
.workreport_tab_lefttitle >div:nth-of-type(3){
	position: absolute;
    top: 0;
    font: 15px/21px 'SimSun';
    border-bottom: 0;
    text-align: right;
    padding: 3px 10px 3px 0px;
}
.workreport_tab_lefttitle >div:nth-of-type(4){
	font: 15px/20px 'SimSun';
    position: absolute;
    top: 27px;
    text-align: left;
    padding: 3px 0px 3px 10px;
}
.workreport_tab_lefttitle >div:nth-of-type(5){
    padding: 3px 5px 4px 5px;
}
.workreport_tab_lefttitle >div:not(:nth-of-type(1)):not(:nth-of-type(2):nth-of-type(3)):not(:nth-of-type(4)){
	font:15px/25px 'microsoft  yahei';
}

/**工时导出 左边不变栏浮窗样式**/
.workstatistics_tab_lefttitle_parent{
	position: absolute;
}
.workstatistics_tab_lefttitle{
	position: relative;
    z-index: 2;
    top: 10px;
    left: 27px;
	border-left:1px solid #787878;
	border-top:1px solid #787878;
}
.workstatistics_tab_lefttitle2{
	position: absolute;
	 z-index: 1;
	 top: 10px;
    left: 27px;
    height:40px;
    background:#787878;
}
.workstatistics_tab_lefttitle >div{
	text-align:center;
	font: 15px/25px 'SimSun';
	padding: 3px 5px;
	border-right:1px solid #787878;
	border-bottom:1px solid #787878;
	white-space: nowrap;
    -o-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}
.workstatistics_tab_lefttitle >div:nth-of-type(1){
	font: 15px/20px 'SimSun';
    width: 0;
    height: 0;
    padding: 0;
    border-right: 0;
    border-left: 162px solid transparent;
    border-top: 39px solid #FDFBC9;
}
.workstatistics_tab_lefttitle >div:nth-of-type(2){
	font: 15px/20px 'SimSun';
    width: 0;
    height: 0;
    padding: 0;
    border-left: 0;
    border-right: 162px solid transparent;
    border-bottom: 39px solid #80C26A;
    position: absolute;
    top: 1px;
}
.workstatistics_tab_lefttitle >div:nth-of-type(3){
	position: absolute;
    top: 0;
    font: 15px/20px 'SimSun';
    border-bottom: 0;
    text-align: right;
    padding: 0px 10px 0px 0px;
}
.workstatistics_tab_lefttitle >div:nth-of-type(4){
	font: 15px/19px 'SimSun';
    position: absolute;
    top: 20px;
    text-align: left;
    padding: 0px 0px 0px 10px;
}
.workstatistics_tab_lefttitle >div:not(:nth-of-type(1)):not(:nth-of-type(2):nth-of-type(3)):not(:nth-of-type(4)){
	font:15px/25px 'microsoft  yahei';
}
/***锟斤拷锟酵凤拷母锟斤拷锟斤拷锟绞�*/
.container {
	position: absolute;
    z-index: 2;
    top: -37px;
    left: -45px;
    display: block;
    height: 45px;
    width: 92px;
    background-color: transparent;
    padding: 0px;
}
.container:hover {
	opacity: 0.2;
}
.container div {
	font: 13px/25px 'microsoft yahei';
    border: 1px solid #15AEFC;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    position: absolute;
    background-color: #fff;
    width: 90px;
    text-align: center;
}
.container s {
    position: absolute;
    top: 27px;
    left: 36px;
    display: block;
    height: 0;
    width: 0;
    font-size: 0;
    line-height: 0;
    border-color: #15AEFC transparent transparent transparent;
    border-style: dashed dashed solid dashed;
    border-width: 8px;
}
.container i{
    position: absolute;
    top: -10px;
    left: -8px;
    display: block;
    height: 0;
    width: 0;
    font-size: 0;
    line-height: 0;
    border-color: #fff transparent transparent transparent;
    border-style: solid dashed dashed dashed;
    border-width: 8px;
}
/****锟斤拷锟酵凤拷母锟斤拷锟�****/
.work_bottom_left{
	zoom:1;
	overflow: hidden;
	width:100%;
	margin:0 auto;
	position: relative;
    top: -37px;
}
.work_bottom_left1{
	float:left;
	text-align:left;
	margin-left:30px;
	font:15px/25px 'Microsoft yahei';
}
.work_bottom_left1 div{
	text-align:left;
}
.work_bottom_left1>div span:nth-of-type(2){
	margin-left:10px;
	display:inline-block;
}
/****锟斤拷锟斤拷锟斤拷志锟斤拷式锟斤拷锟斤拷***/



